Repository kai687/sphinxawesome-theme: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, sync

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

isort:
  name: isort
  entry: poetry run isort
  language: system

sync:
  name: sync requirements.txt
  entry: nox -s export
  pass_filenames: false
  language: system

chore: update precommit
  .pre-commit-config.yaml
Due: none

Add precommit hook for requirements.txt (#764)
  .pre-commit-config.yaml
Due: none

docs: custom css properties
  docs/how-to/customize.md
Due: none

docs: custom css properties (#765)
  docs/how-to/customize.md
Due: none

feat: extra headerlinks with icons
  docs/conf.py
  src/sphinxawesome_theme/header.html
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.06f0cd9b7d6b5b5b75a9.css
  src/sphinxawesome_theme/static/theme.23aa7eb1b1ae77afdb32.css
  src/theme-src/yarn.lock
Due: black, flake8, isort

fix: deal with absolute urls
  src/sphinxawesome_theme/header.html
Due: none

fix: nox and poetry
  .github/workflows/constraints.txt
  .github/workflows/linkcheck.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  docs/how-to/install.md
  noxfile.py
  poetry.lock
  poetry.toml
  pyproject.toml
Due: black, flake8, isort, sync

fix: wrong version
  .github/workflows/constraints.txt
Due: none

fix: drop 3.6 support
  .github/workflows/lint.yml
  pyproject.toml
Due: sync

fix: sync lock
  poetry.lock
Due: none

fix: netlify export
  noxfile.py
  requirements.txt
Due: black, flake8, isort

fix: remove netlify_test session
  noxfile.py
Due: black, flake8, isort

fix: mypy
  noxfile.py
  pyproject.toml
Due: black, flake8, isort, sync

fix: nox and poetry (#767)
  .github/workflows/constraints.txt
  .github/workflows/linkcheck.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  docs/how-to/install.md
  noxfile.py
  poetry.lock
  poetry.toml
  pyproject.toml
  requirements.txt
Due: black, flake8, isort, sync

fix: wrong jinja2
  src/sphinxawesome_theme/header.html
Due: none

fix: wrong jinja2 again
  src/sphinxawesome_theme/header.html
Due: none

feat: extra headerlinks with icons (#766)
  docs/conf.py
  src/sphinxawesome_theme/header.html
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.06f0cd9b7d6b5b5b75a9.css
  src/sphinxawesome_theme/static/theme.23aa7eb1b1ae77afdb32.css
  src/theme-src/yarn.lock
Due: black, flake8, isort

Update link in README
  README.md
Due: none

fix: make header a bit smaller
  src/sphinxawesome_theme/header.html
  src/sphinxawesome_theme/layout.html
  src/sphinxawesome_theme/searchbox.html
  src/sphinxawesome_theme/skip.html
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.06f0cd9b7d6b5b5b75a9.css
  src/sphinxawesome_theme/static/theme.dffb9d7e6e1a712a7287.css
  src/theme-src/css/docsearch.css
  src/theme-src/tailwind.config.js
  src/theme-src/yarn.lock
Due: none

fix: make header a bit smaller (#770)
  src/sphinxawesome_theme/header.html
  src/sphinxawesome_theme/layout.html
  src/sphinxawesome_theme/searchbox.html
  src/sphinxawesome_theme/skip.html
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.06f0cd9b7d6b5b5b75a9.css
  src/sphinxawesome_theme/static/theme.dffb9d7e6e1a712a7287.css
  src/theme-src/css/docsearch.css
  src/theme-src/tailwind.config.js
  src/theme-src/yarn.lock
Due: none

docs: github logo size
  docs/conf.py
Due: black, flake8, isort

docs: github logo size (#771)
  docs/conf.py
Due: black, flake8, isort

feat: support terminal lexer alias
  src/sphinxawesome_theme/highlighting.py
  src/sphinxawesome_theme/html_translator.py
Due: black, flake8, isort

docs: replace shell-session with terminal
  docs/how-to/install.md
  docs/how-to/load.md
  docs/index.md
Due: none

fix: discover app.add_lexer
  src/sphinxawesome_theme/highlighting.py
Due: black, flake8, isort

fix: mypy
  src/sphinxawesome_theme/highlighting.py
Due: black, flake8, isort

docs: replace shell with terminal
  docs/how-to/modify.md
Due: none

fix: allow terminal session (#772)
  docs/how-to/install.md
  docs/how-to/load.md
  docs/how-to/modify.md
  docs/index.md
  src/sphinxawesome_theme/highlighting.py
  src/sphinxawesome_theme/html_translator.py
Due: black, flake8, isort

Create README.md
  tests/README.md
Due: none

chore: update Algolia action
  .github/workflows/index.yml
Due: none

chore: update metadata
  poetry.lock
  pyproject.toml
  requirements.txt
Due: sync

chore: update metadata (#773)
  .github/workflows/index.yml
  poetry.lock
  pyproject.toml
  requirements.txt
Due: sync

style: make body margins smaller
  src/sphinxawesome_theme/layout.html
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.94bd25c2e9924b36edb2.css
  src/sphinxawesome_theme/static/theme.dffb9d7e6e1a712a7287.css
  src/sphinxawesome_theme/with-sidebar.html
  src/sphinxawesome_theme/without-sidebar.html
Due: none

style: extra header margins
  src/sphinxawesome_theme/header.html
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.6062d31a26102e21c930.css
  src/sphinxawesome_theme/static/theme.94bd25c2e9924b36edb2.css
Due: none

style: make padding smaller (#774)
  src/sphinxawesome_theme/header.html
  src/sphinxawesome_theme/layout.html
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.6062d31a26102e21c930.css
  src/sphinxawesome_theme/static/theme.dffb9d7e6e1a712a7287.css
  src/sphinxawesome_theme/with-sidebar.html
  src/sphinxawesome_theme/without-sidebar.html
Due: none

fix: bug in option_spec when highlighting
  src/sphinxawesome_theme/highlighting.py
Due: black, flake8, isort

fix: unshadow code style
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.51364b0694dd78b8b07c.css
  src/sphinxawesome_theme/static/theme.6062d31a26102e21c930.css
  src/theme-src/css/code.css
Due: none

fix: bug when copying code
  noxfile.py
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.51364b0694dd78b8b07c.css
  src/sphinxawesome_theme/static/theme.6ffd282b17f80c3a81ab.css
  src/theme-src/css/code.css
Due: black, flake8, isort

feat: make lang in code headers optional
  CHANGELOG.rst
  docs/how-to/options.md
  src/sphinxawesome_theme/__init__.py
  src/sphinxawesome_theme/html_translator.py
Due: black, flake8, isort

docs: fix callouts demo
  docs/demo/notes.rst
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  sync: any of: pyproject\.toml
