Repository kai687/sphinxawesome-theme: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, sync

.pre-commit-config.yaml:

repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: trailing-whitespace
      - id: no-commit-to-branch
  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: sync
        name: sync requirements.txt
        entry: nox -s export
        pass_filenames: false
        language: system
        files: 'pyproject\.toml'
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.0.0-alpha.6"
    hooks:
      - id: prettier
        types: [javascript]
        files: "src/theme-src/"
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.254"
    hooks:
      - id: ruff

docs: more restructuring
  docs/conf.py
  docs/demo/auto.rst
  docs/how-to/add/includes/add-to-sphinx.rst
  docs/how-to/add/includes/configure.inc
  docs/how-to/add/includes/local-directory.rst
  docs/how-to/add/index.rst
  docs/how-to/build-your-own.rst
  docs/how-to/build-your-own/includes/install-js-dependencies.rst
  docs/how-to/build-your-own/includes/install-python-dependencies.rst
  docs/how-to/build-your-own/includes/prepare-js-environment.rst
  docs/how-to/build-your-own/includes/prepare-python-environment.rst
  docs/how-to/build-your-own/index.rst
  docs/how-to/configure.rst
  docs/how-to/configure/includes/docsearch.rst
  docs/how-to/configure/includes/extension-options.rst
  docs/how-to/configure/includes/theme-options.rst
  docs/how-to/configure/index.rst
  docs/how-to/customize/add-custom-css.rst
  docs/how-to/customize/add-custom-js.rst
  docs/how-to/customize/add-custom-templates.rst
  docs/how-to/customize/includes/available-templates.rst
  docs/how-to/install.rst
  docs/how-to/install/includes/fork-and-clone.rst
  docs/how-to/install/includes/install-local-directory.rst
  docs/how-to/install/includes/install-python-package.rst
  docs/how-to/install/includes/install.sh
  docs/how-to/install/index.rst
  docs/index.md
  docs/index.rst
Due: black

docs: convert about back to rst
  docs/about.md
  docs/about.rst
  docs/conf.py
Due: black

docs: remove myst-parser dependency
  docs/how-to/customize/includes/custom-templates.rst
  noxfile.py
  poetry.lock
  pyproject.toml
  requirements.txt
Due: black, sync

docs: new structure (#1276)
  docs/about.md
  docs/about.rst
  docs/conf.py
  docs/demo/auto.rst
  docs/how-to/add/includes/add-to-sphinx.rst
  docs/how-to/add/includes/configure.inc
  docs/how-to/add/includes/local-directory.rst
  docs/how-to/add/index.rst
  docs/how-to/build-your-own.rst
  docs/how-to/build-your-own/includes/install-js-dependencies.rst
  docs/how-to/build-your-own/includes/install-python-dependencies.rst
  docs/how-to/build-your-own/includes/prepare-js-environment.rst
  docs/how-to/build-your-own/includes/prepare-python-environment.rst
  docs/how-to/build-your-own/index.rst
  docs/how-to/configure.rst
  docs/how-to/configure/includes/docsearch.rst
  docs/how-to/configure/includes/extension-options.rst
  docs/how-to/configure/includes/theme-options.rst
  docs/how-to/configure/index.rst
  docs/how-to/customize/add-custom-css.rst
  docs/how-to/customize/add-custom-js.rst
  docs/how-to/customize/add-custom-templates.rst
  docs/how-to/customize/includes/available-templates.rst
  docs/how-to/customize/includes/custom-templates.rst
  docs/how-to/install.rst
  docs/how-to/install/includes/fork-and-clone.rst
  docs/how-to/install/includes/install-local-directory.rst
  docs/how-to/install/includes/install-python-package.rst
  docs/how-to/install/includes/install.sh
  docs/how-to/install/index.rst
  docs/index.md
  docs/index.rst
  noxfile.py
  poetry.lock
  pyproject.toml
  requirements.txt
Due: black, sync

docs: add sphinx design extension
  docs/_static/feedback.css
  docs/conf.py
  docs/how-to/customize/includes/custom-templates.rst
  noxfile.py
  poetry.lock
  pyproject.toml
  requirements.txt
  src/sphinxawesome_theme/highlighting.py
  src/sphinxawesome_theme/html_translator.py
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.10240cc3be26b8d3ebe0.css
  src/sphinxawesome_theme/static/theme.a9cb73d0733352004a42.css
  src/theme-src/css/base.css
  src/theme-src/css/code.css
  src/theme-src/tailwind.config.js
Due: black, sync

chore: update js packages
  src/theme-src/yarn.lock
Due: none

chore: make live_docs less strict
  noxfile.py
Due: black

chore: types and controllers
  src/sphinxawesome_theme/highlighting.py
  src/sphinxawesome_theme/html_translator.py
Due: black

docs: update local directory instructions after testing
  docs/how-to/add/includes/local-directory.rst
Due: none

style: inline code should not wrap
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.10240cc3be26b8d3ebe0.css
  src/sphinxawesome_theme/static/theme.8a8ee3a82dc6dea09db3.css
  src/theme-src/css/code.css
Due: none

docs: add sphinx design extension (#1277)
  docs/_static/feedback.css
  docs/conf.py
  docs/how-to/add/includes/local-directory.rst
  docs/how-to/customize/includes/custom-templates.rst
  noxfile.py
  poetry.lock
  pyproject.toml
  requirements.txt
  src/sphinxawesome_theme/highlighting.py
  src/sphinxawesome_theme/html_translator.py
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.8a8ee3a82dc6dea09db3.css
  src/sphinxawesome_theme/static/theme.a9cb73d0733352004a42.css
  src/theme-src/css/base.css
  src/theme-src/css/code.css
  src/theme-src/tailwind.config.js
  src/theme-src/yarn.lock
Due: black, sync

docs: add sphinx design demo
  docs/_static/feedback.css
  docs/conf.py
  docs/demo/includes/design-badges.rst
  docs/demo/includes/design-cards.rst
  docs/demo/includes/design-dropdown.rst
  docs/demo/includes/design-grid.rst
  docs/demo/includes/design-tabs.rst
  docs/demo/sphinx-design.rst
Due: black

update redirects
  docs/_redirects
Due: none

add deprecation notice
  docs/how-to/configure/includes/extension-options.rst
Due: none

docs: sphinx design (#1287)
  docs/_redirects
  docs/_static/feedback.css
  docs/conf.py
  docs/demo/includes/design-badges.rst
  docs/demo/includes/design-cards.rst
  docs/demo/includes/design-dropdown.rst
  docs/demo/includes/design-grid.rst
  docs/demo/includes/design-tabs.rst
  docs/demo/sphinx-design.rst
  docs/how-to/configure/includes/extension-options.rst
Due: black

Update _redirects
  docs/_redirects
Due: none

remove code for collapsible definitions
  src/sphinxawesome_theme/__init__.py
  src/sphinxawesome_theme/html_translator.py
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.8a8ee3a82dc6dea09db3.css
  src/sphinxawesome_theme/static/theme.f2e1536a2974d3d26a53.css
  src/theme-src/css/collapsible.css
Due: black

styles: no line above code definitions
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.2da63623714c56cdcd97.css
  src/sphinxawesome_theme/static/theme.f2e1536a2974d3d26a53.css
  src/theme-src/css/code.css
Due: none

fix: simplify visit_caption
  src/sphinxawesome_theme/html_translator.py
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.28d495439d0eb6cecc2f.css
  src/sphinxawesome_theme/static/theme.2da63623714c56cdcd97.css
  src/theme-src/css/figures.css
Due: black

chore: update changelog
  CHANGELOG.md
Due: none

fix: remove unused code
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.39317e1d69980affb918.js
  src/sphinxawesome_theme/static/theme.39317e1d69980affb918.js.LICENSE.txt
  src/sphinxawesome_theme/static/theme.b62e1ded0c8c099a2d47.js
  src/theme-src/js/controllers/collapsible-controller.js
Due: none

fix: update test
  tests/test_extensions.py
Due: black

feat: remove html_collapsible_definitions (#1288)
  CHANGELOG.md
  src/sphinxawesome_theme/__init__.py
  src/sphinxawesome_theme/html_translator.py
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.28d495439d0eb6cecc2f.css
  src/sphinxawesome_theme/static/theme.39317e1d69980affb918.js
  src/sphinxawesome_theme/static/theme.39317e1d69980affb918.js.LICENSE.txt
  src/sphinxawesome_theme/static/theme.8a8ee3a82dc6dea09db3.css
  src/sphinxawesome_theme/static/theme.b62e1ded0c8c099a2d47.js
  src/theme-src/css/code.css
  src/theme-src/css/collapsible.css
  src/theme-src/css/figures.css
  src/theme-src/js/controllers/collapsible-controller.js
  tests/test_extensions.py
Due: black

fix: link
  docs/how-to/configure/includes/extension-options.rst
Due: none

Feat/no collapsible (#1289)
  docs/how-to/configure/includes/extension-options.rst
Due: none

Update README.md
  README.md
Due: none

fix: better CSS splitting
  src/sphinxawesome_theme/static/docsearch.41a9115c5f7cc5abbbdc.css
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.28d495439d0eb6cecc2f.css
  src/sphinxawesome_theme/static/theme.c3bef3957b6520025829.css
  src/theme-src/css/styles.css
  src/theme-src/js/search.js
Due: none

feat: auto-detect sphinx-design extension
  CHANGELOG.md
  docs/_static/feedback.css
  src/sphinxawesome_theme/__init__.py
  src/sphinxawesome_theme/static/awesome-sphinx-design.133ad34cbebb37fffdbf.css
  src/sphinxawesome_theme/static/awesome-sphinx-design.31d6cfe0d16ae931b73c.js
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.1d3d9fc5f45b6cb81b25.css
  src/sphinxawesome_theme/static/theme.c3bef3957b6520025829.css
  src/theme-src/css/admonitions.css
  src/theme-src/css/print.css
  src/theme-src/css/sphinx-design.css
  src/theme-src/js/sphinx-design.js
  src/theme-src/webpack.config.js
Due: black

feat: sphinx-design support (#1290)
  CHANGELOG.md
  docs/_static/feedback.css
  src/sphinxawesome_theme/__init__.py
  src/sphinxawesome_theme/static/awesome-sphinx-design.133ad34cbebb37fffdbf.css
  src/sphinxawesome_theme/static/awesome-sphinx-design.31d6cfe0d16ae931b73c.js
  src/sphinxawesome_theme/static/docsearch.41a9115c5f7cc5abbbdc.css
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.1d3d9fc5f45b6cb81b25.css
  src/sphinxawesome_theme/static/theme.28d495439d0eb6cecc2f.css
  src/theme-src/css/admonitions.css
  src/theme-src/css/print.css
  src/theme-src/css/sphinx-design.css
  src/theme-src/css/styles.css
  src/theme-src/js/search.js
  src/theme-src/js/sphinx-design.js
  src/theme-src/webpack.config.js
Due: black

fix: no useless borders
  docs/demo/code-blocks.rst
  docs/demo/inline-code.rst
  docs/demo/lists.rst
  docs/demo/sphinx-design.rst
  docs/demo/text.rst
  docs/how-to/add/index.rst
  docs/how-to/build-your-own/index.rst
  docs/how-to/configure/index.rst
  docs/how-to/install/index.rst
  docs/index.rst
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.1d3d9fc5f45b6cb81b25.css
  src/sphinxawesome_theme/static/theme.d024d07603865b944012.css
  src/theme-src/css/admonitions.css
  src/theme-src/css/links.css
  src/theme-src/css/nav.css
  src/theme-src/css/print.css
  src/theme-src/css/transitions.css
Due: none

fix(style): improvements
  docs/conf.py
  docs/demo/code-blocks.rst
  docs/demo/includes/notes-admonitions.rst
  docs/demo/includes/notes-version-changes.rst
  docs/demo/inline-code.rst
  docs/demo/lists.rst
  docs/demo/notes.rst
  docs/demo/sphinx-design.rst
  docs/how-to/add/index.rst
  docs/how-to/build-your-own/index.rst
  docs/how-to/configure/index.rst
  docs/how-to/install/index.rst
  docs/includes/header.rst
  src/sphinxawesome_theme/static/awesome-sphinx-design.133ad34cbebb37fffdbf.css
  src/sphinxawesome_theme/static/awesome-sphinx-design.4ff695238f641b0a2852.css
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.5975ff6a41464ca7ae50.css
  src/sphinxawesome_theme/static/theme.d024d07603865b944012.css
  src/theme-src/css/admonitions.css
  src/theme-src/css/lists.css
  src/theme-src/css/sphinx-design.css
  src/theme-src/tailwind.config.js
Due: black

fix: styles
  docs/demo/includes/notes-admonitions.rst
  docs/demo/includes/notes-version-changes.rst
  docs/demo/notes.rst
  docs/how-to/configure/includes/extension-options.rst
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.5975ff6a41464ca7ae50.css
  src/sphinxawesome_theme/static/theme.707e1be77e50384d1c01.css
  src/theme-src/css/base.css
  src/theme-src/css/lists.css
  src/theme-src/package.json
  src/theme-src/stylelint.config.js
Due: none

fix: excludes
  docs/conf.py
Due: black

fix(styles): improvements (#1291)
  docs/conf.py
  docs/demo/code-blocks.rst
  docs/demo/includes/notes-admonitions.rst
  docs/demo/includes/notes-version-changes.rst
  docs/demo/inline-code.rst
  docs/demo/lists.rst
  docs/demo/notes.rst
  docs/demo/sphinx-design.rst
  docs/demo/text.rst
  docs/how-to/add/index.rst
  docs/how-to/build-your-own/index.rst
  docs/how-to/configure/includes/extension-options.rst
  docs/how-to/configure/index.rst
  docs/how-to/install/index.rst
  docs/includes/header.rst
  docs/index.rst
  src/sphinxawesome_theme/static/awesome-sphinx-design.133ad34cbebb37fffdbf.css
  src/sphinxawesome_theme/static/awesome-sphinx-design.4ff695238f641b0a2852.css
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.1d3d9fc5f45b6cb81b25.css
  src/sphinxawesome_theme/static/theme.707e1be77e50384d1c01.css
  src/theme-src/css/admonitions.css
  src/theme-src/css/base.css
  src/theme-src/css/links.css
  src/theme-src/css/lists.css
  src/theme-src/css/nav.css
  src/theme-src/css/print.css
  src/theme-src/css/sphinx-design.css
  src/theme-src/css/transitions.css
  src/theme-src/package.json
  src/theme-src/stylelint.config.js
  src/theme-src/tailwind.config.js
Due: black

fix: entrypoint
  src/theme-src/js/sphinx-design.js
  src/theme-src/webpack.config.js
Due: none

fix: use tailwind typography
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.3ed42e0b2a3849d21cbd.css
  src/sphinxawesome_theme/static/theme.707e1be77e50384d1c01.css
  src/sphinxawesome_theme/with-sidebar.html
  src/sphinxawesome_theme/without-sidebar.html
  src/theme-src/css/base.css
  src/theme-src/css/styles.css
  src/theme-src/css/variables.css
  src/theme-src/package.json
  src/theme-src/tailwind.config.js
  src/theme-src/yarn.lock
Due: none

fix(styles): configure Tailwind Typography plugin
  docs/conf.py
  docs/demo/lists.rst
  src/sphinxawesome_theme/header.html
  src/sphinxawesome_theme/html_translator.py
  src/sphinxawesome_theme/icons.py
  src/sphinxawesome_theme/postprocess.py
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.3ed42e0b2a3849d21cbd.css
  src/sphinxawesome_theme/static/theme.4b6daeaa22915f23741e.css
  src/theme-src/css/admonitions.css
  src/theme-src/css/base.css
  src/theme-src/css/headerlinks.css
  src/theme-src/css/links.css
  src/theme-src/css/styles.css
  src/theme-src/tailwind.config.js
Due: black

fix(styles): Restyle everything with Tailwind Typography
  docs/conf.py
  docs/demo/includes/notes-admonitions.rst
  docs/index.rst
  noxfile.py
  src/sphinxawesome_theme/highlighting.py
  src/sphinxawesome_theme/html_translator.py
  src/sphinxawesome_theme/icons.py
  src/sphinxawesome_theme/static/docsearch.ab217ecb23493ff070ec.css
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.4b6daeaa22915f23741e.css
  src/sphinxawesome_theme/static/theme.cc2b61671b9b41421dec.css
  src/theme-src/css/admonitions.css
  src/theme-src/css/collapsible.css
  src/theme-src/css/contents.css
  src/theme-src/css/figures.css
  src/theme-src/css/headerlinks.css
  src/theme-src/css/highlighting.css
  src/theme-src/css/nav.css
  src/theme-src/css/sidebar.css
  src/theme-src/css/styles.css
  src/theme-src/css/tables.css
  src/theme-src/tailwind.config.js
Due: black

fix: footnotes and external links
  docs/demo/footnotes.rst
  src/sphinxawesome_theme/html_translator.py
  src/sphinxawesome_theme/postprocess.py
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.4e9d14edad4e062c9419.css
  src/sphinxawesome_theme/static/theme.cc2b61671b9b41421dec.css
  src/theme-src/css/links.css
  src/theme-src/css/lists.css
  src/theme-src/css/print.css
  src/theme-src/css/styles.css
  src/theme-src/tailwind.config.js
Due: black

fix: it has to be in postprocess
  src/sphinxawesome_theme/html_translator.py
  src/sphinxawesome_theme/postprocess.py
Due: black
