Repository kai687/sphinxawesome-theme: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, sync

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

isort:
  name: isort
  entry: poetry run isort
  language: system

sync:
  name: sync requirements.txt
  entry: nox -s export
  pass_filenames: false
  language: system

chore: update packages (#888)
  poetry.lock
  src/sphinxawesome_theme/static/04221d1c6838f9fdd557.woff
  src/sphinxawesome_theme/static/1665128c96e2d5f27f6a.woff2
  src/sphinxawesome_theme/static/1b0f4d9f360bf795b840.woff2
  src/sphinxawesome_theme/static/30670a02974f80a898ff.woff2
  src/sphinxawesome_theme/static/3b2dacb09b5cc8a36c28.woff
  src/sphinxawesome_theme/static/427aa5b274e56460a497.woff
  src/sphinxawesome_theme/static/518464e0ec13eabaab5b.woff
  src/sphinxawesome_theme/static/523d95e8734465d37946.woff
  src/sphinxawesome_theme/static/5378fa574040dbf18297.woff
  src/sphinxawesome_theme/static/7b7c80708f0c7a904863.woff2
  src/sphinxawesome_theme/static/9d02cef1963502c9b2f9.woff2
  src/sphinxawesome_theme/static/9da12ee2226cebdf4db1.woff2
  src/sphinxawesome_theme/static/a65a0448afa2c6ed3908.woff2
  src/sphinxawesome_theme/static/b315749ee28367113b01.woff
  src/sphinxawesome_theme/static/c3a23073096fe509111c.woff2
  src/sphinxawesome_theme/static/d56c9111fe2295657c50.woff
  src/sphinxawesome_theme/static/docsearch.785619191bb218087918.css
  src/sphinxawesome_theme/static/docsearch.e287c77dae64c5ebc045.css
  src/sphinxawesome_theme/static/e2899e588021cfc45d7f.woff
  src/sphinxawesome_theme/static/e3af00b45d7cbb7f1349.woff2
  src/sphinxawesome_theme/static/f58c05a5dca66a6c14cf.woff
  src/sphinxawesome_theme/static/ff2e05b5e7115bad10a9.woff2
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.48a63441bf61477bef2e.css
  src/sphinxawesome_theme/static/theme.b019255c648a2837f6f0.css
  src/theme-src/yarn.lock
Due: none

chore: no more yarn classic
  .gitignore
  poetry.lock
  src/sphinxawesome_theme/static/1633b6b9993ab5dccd7b.woff
  src/sphinxawesome_theme/static/3a43b67e5bbdfb3ab0a6.woff2
  src/sphinxawesome_theme/static/4673b4537a84c7f7a130.woff2
  src/sphinxawesome_theme/static/48af7707fe9e6494d6a5.woff
  src/sphinxawesome_theme/static/869888415d0b1a99ae5c.woff2
  src/sphinxawesome_theme/static/9ac5da2442b734abc516.woff
  src/sphinxawesome_theme/static/9b78ea3bc4f00e508f01.woff
  src/sphinxawesome_theme/static/b009a76ad6afe4ebd301.woff2
  src/sphinxawesome_theme/static/c8864b37568c1e60cc44.woff
  src/sphinxawesome_theme/static/d037cb4792991826de7d.woff
  src/sphinxawesome_theme/static/d52a565af9d2ae457512.woff2
  src/sphinxawesome_theme/static/ddd11dabeca881d49f59.woff
  src/sphinxawesome_theme/static/e10742dbb1d4a0864ba8.woff2
  src/sphinxawesome_theme/static/f1e2a76794cb86b2aa8e.woff
  src/sphinxawesome_theme/static/f25d774ecfe0996f8eb5.woff2
  src/sphinxawesome_theme/static/f8d81cb45fd5293f176c.woff2
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.31b2f4bacf2e5b9807a3.js
  src/sphinxawesome_theme/static/theme.7ae34a36e4a6d2daf8db.css
  src/sphinxawesome_theme/static/theme.a9d041328d1560cbc665.js
  src/sphinxawesome_theme/static/theme.a9d041328d1560cbc665.js.LICENSE.txt
  src/theme-src/.yarnrc.yml
  src/theme-src/package.json
  src/theme-src/yarn.lock
Due: none

docs: no more yarn classic
  docs/how-to/install.md
  src/README.rst
  src/theme-src/README.rst
Due: none

chore: update from yarn classic (#903)
  .gitignore
  docs/how-to/install.md
  poetry.lock
  src/README.rst
  src/sphinxawesome_theme/static/1633b6b9993ab5dccd7b.woff
  src/sphinxawesome_theme/static/3a43b67e5bbdfb3ab0a6.woff2
  src/sphinxawesome_theme/static/4673b4537a84c7f7a130.woff2
  src/sphinxawesome_theme/static/48af7707fe9e6494d6a5.woff
  src/sphinxawesome_theme/static/869888415d0b1a99ae5c.woff2
  src/sphinxawesome_theme/static/9ac5da2442b734abc516.woff
  src/sphinxawesome_theme/static/9b78ea3bc4f00e508f01.woff
  src/sphinxawesome_theme/static/b009a76ad6afe4ebd301.woff2
  src/sphinxawesome_theme/static/c8864b37568c1e60cc44.woff
  src/sphinxawesome_theme/static/d037cb4792991826de7d.woff
  src/sphinxawesome_theme/static/d52a565af9d2ae457512.woff2
  src/sphinxawesome_theme/static/ddd11dabeca881d49f59.woff
  src/sphinxawesome_theme/static/e10742dbb1d4a0864ba8.woff2
  src/sphinxawesome_theme/static/f1e2a76794cb86b2aa8e.woff
  src/sphinxawesome_theme/static/f25d774ecfe0996f8eb5.woff2
  src/sphinxawesome_theme/static/f8d81cb45fd5293f176c.woff2
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.31b2f4bacf2e5b9807a3.js
  src/sphinxawesome_theme/static/theme.7ae34a36e4a6d2daf8db.css
  src/sphinxawesome_theme/static/theme.a9d041328d1560cbc665.js
  src/sphinxawesome_theme/static/theme.a9d041328d1560cbc665.js.LICENSE.txt
  src/theme-src/.yarnrc.yml
  src/theme-src/README.rst
  src/theme-src/package.json
  src/theme-src/yarn.lock
Due: none

chore: update packages
  poetry.lock
  requirements.txt
  src/sphinxawesome_theme/static/docsearch.2899249b16efd7b83b16.css
  src/sphinxawesome_theme/static/docsearch.56cfe8d88b550428f360.js
  src/sphinxawesome_theme/static/docsearch.56cfe8d88b550428f360.js.LICENSE.txt
  src/sphinxawesome_theme/static/docsearch.785619191bb218087918.css
  src/sphinxawesome_theme/static/docsearch.958a9d9988f644d7ff85.js
  src/sphinxawesome_theme/static/docsearch.958a9d9988f644d7ff85.js.LICENSE.txt
  src/sphinxawesome_theme/static/manifest.json
  src/theme-src/package.json
  src/theme-src/yarn.lock
Due: none

chore: update packages (#916)
  poetry.lock
  requirements.txt
  src/sphinxawesome_theme/static/docsearch.2899249b16efd7b83b16.css
  src/sphinxawesome_theme/static/docsearch.56cfe8d88b550428f360.js
  src/sphinxawesome_theme/static/docsearch.56cfe8d88b550428f360.js.LICENSE.txt
  src/sphinxawesome_theme/static/docsearch.785619191bb218087918.css
  src/sphinxawesome_theme/static/docsearch.958a9d9988f644d7ff85.js
  src/sphinxawesome_theme/static/docsearch.958a9d9988f644d7ff85.js.LICENSE.txt
  src/sphinxawesome_theme/static/manifest.json
  src/theme-src/package.json
  src/theme-src/yarn.lock
Due: none

chore: update dependabot
  .github/dependabot.yml
Due: none

chore: update dependabot (#917)
  .github/dependabot.yml
Due: none

fix(css): docsearch keys styling
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.2f1073d047bf3dc73975.css
  src/sphinxawesome_theme/static/theme.7ae34a36e4a6d2daf8db.css
  src/theme-src/css/code.css
  src/theme-src/css/docsearch.css
Due: none

fix(css): docsearch keys styling (#922)
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.2f1073d047bf3dc73975.css
  src/sphinxawesome_theme/static/theme.7ae34a36e4a6d2daf8db.css
  src/theme-src/css/code.css
  src/theme-src/css/docsearch.css
Due: none

fix(style): adjust h1 size
  poetry.lock
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.2f1073d047bf3dc73975.css
  src/sphinxawesome_theme/static/theme.513a208555b170a6c1ba.css
  src/theme-src/css/base.css
Due: none

fix(style): adjust h1 size (#926)
  poetry.lock
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.2f1073d047bf3dc73975.css
  src/sphinxawesome_theme/static/theme.513a208555b170a6c1ba.css
  src/theme-src/css/base.css
Due: none

fix(styles): adjust docsearch color
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.513a208555b170a6c1ba.css
  src/sphinxawesome_theme/static/theme.e658a2727793f44f0749.css
  src/theme-src/css/docsearch.css
Due: none

fix(styles): adjust docsearch color (#927)
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.513a208555b170a6c1ba.css
  src/sphinxawesome_theme/static/theme.e658a2727793f44f0749.css
  src/theme-src/css/docsearch.css
Due: none

fix: leftover yarn experiment
  src/theme-src/.yarnrc.yml
  src/theme-src/package.json
  src/theme-src/yarn.lock
Due: none

docs: add link to volta
  docs/how-to/install.md
  docs/how-to/options.md
  requirements.txt
Due: none

docs: minor
  docs/how-to/install.md
Due: none

feat: readability scores
  .vale/styles/Awesome/Flesch-Kincaid.yml
  .vale/styles/Awesome/Smog.yml
Due: none

docs: mention volta (#928)
  docs/how-to/install.md
  docs/how-to/options.md
  requirements.txt
  src/theme-src/.yarnrc.yml
  src/theme-src/package.json
  src/theme-src/yarn.lock
Due: none

feat: readability scores (#929)
  .vale/styles/Awesome/Flesch-Kincaid.yml
  .vale/styles/Awesome/Smog.yml
Due: none

feat(tests): restart testing
  noxfile.py
  tests/README.md
  tests/roots/test-code/conf.py
  tests/roots/test-code/index.rst
  tests/roots/test-collapsible/conf.py
  tests/roots/test-collapsible/index.rst
  tests/roots/test-copyright/conf.py
  tests/roots/test-copyright/index.rst
  tests/roots/test-external-links/conf.py
  tests/roots/test-external-links/index.rst
  tests/roots/test-figure/conf.py
  tests/roots/test-figure/image.svg
  tests/roots/test-figure/index.rst
  tests/roots/test-headerlinks/conf.py
  tests/roots/test-headerlinks/index.rst
  tests/roots/test-ids/conf.py
  tests/roots/test-ids/index.rst
  tests/roots/test-options/another.rst
  tests/roots/test-options/conf.py
  tests/roots/test-options/index.rst
  tests/roots/test-root/index.rst
  tests/roots/test-table/conf.py
  tests/roots/test-table/index.rst
  tests/roots/test-toctree/conf.py
  tests/roots/test-toctree/index.rst
  tests/roots/test-toctree/test1.rst
  tests/roots/test-toctree/test2.rst
  tests/test_admonition_ids.py
  tests/test_codeblocks.py
  tests/test_collapsible.py
  tests/test_copyright.py
  tests/test_external_links.py
  tests/test_headerlinks.py
  tests/test_icons.py
  tests/test_permalinks.py
  tests/test_postprocess.py
  tests/test_sphinxawesome_theme.py
  tests/test_theme_options.py
Due: black, flake8, isort

fix: update python dependencies
  docs/about.md
  docs/how-to/customize.md
  docs/how-to/install.md
  docs/how-to/load.md
  docs/how-to/modify.md
  docs/how-to/options.md
  docs/how-to/update.md
  docs/how-to/use.md
  docs/how-to/using.md
  docs/index.md
  poetry.lock
  pyproject.toml
  requirements.txt
Due: sync

fix: npm updates
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.e6081a2fb60dd7bf7015.css
  src/sphinxawesome_theme/static/theme.e658a2727793f44f0749.css
  src/theme-src/yarn.lock
Due: none

fix: update packages (#946)
  docs/about.md
  docs/how-to/customize.md
  docs/how-to/install.md
  docs/how-to/load.md
  docs/how-to/modify.md
  docs/how-to/options.md
  docs/how-to/update.md
  docs/how-to/use.md
  docs/how-to/using.md
  docs/index.md
  poetry.lock
  pyproject.toml
  requirements.txt
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.e6081a2fb60dd7bf7015.css
  src/sphinxawesome_theme/static/theme.e658a2727793f44f0749.css
  src/theme-src/yarn.lock
Due: sync

chore: prepare new release
  CHANGELOG.md
  pyproject.toml
  tests/test_sphinxawesome_theme.py
Due: black, flake8, isort, sync

chore: prepare new release (#948)
  CHANGELOG.md
  pyproject.toml
  tests/test_sphinxawesome_theme.py
Due: black, flake8, isort, sync

test: use vale reviewdog
  .github/workflows/lint-docs.yml
Due: none

test: bogus change
  docs/about.md
Due: none

fix: typo in update
  docs/how-to/update.md
Due: none

fix: typo in update (#951)
  docs/how-to/update.md
Due: none

chore: update python packages
  poetry.lock
  requirements.txt
Due: none

chore: update JS packages
  docs/conf.py
  src/sphinxawesome_theme/static/docsearch.2899249b16efd7b83b16.css
  src/sphinxawesome_theme/static/docsearch.3d7de4392c882a5941c0.css
  src/sphinxawesome_theme/static/docsearch.7854fe2d6ce5cfc33d76.js
  src/sphinxawesome_theme/static/docsearch.7854fe2d6ce5cfc33d76.js.LICENSE.txt
  src/sphinxawesome_theme/static/docsearch.958a9d9988f644d7ff85.js
  src/sphinxawesome_theme/static/docsearch.958a9d9988f644d7ff85.js.LICENSE.txt
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.821bcde68930fe57a459.css
  src/sphinxawesome_theme/static/theme.a9d041328d1560cbc665.js
  src/sphinxawesome_theme/static/theme.daf58244425b68b2dc6b.js
  src/sphinxawesome_theme/static/theme.daf58244425b68b2dc6b.js.LICENSE.txt
  src/sphinxawesome_theme/static/theme.e6081a2fb60dd7bf7015.css
  src/theme-src/package.json
  src/theme-src/yarn.lock
Due: black, flake8, isort

docs: fix sitemap (#987)
  docs/conf.py
  poetry.lock
  requirements.txt
  src/sphinxawesome_theme/static/docsearch.2899249b16efd7b83b16.css
  src/sphinxawesome_theme/static/docsearch.3d7de4392c882a5941c0.css
  src/sphinxawesome_theme/static/docsearch.7854fe2d6ce5cfc33d76.js
  src/sphinxawesome_theme/static/docsearch.7854fe2d6ce5cfc33d76.js.LICENSE.txt
  src/sphinxawesome_theme/static/docsearch.958a9d9988f644d7ff85.js
  src/sphinxawesome_theme/static/docsearch.958a9d9988f644d7ff85.js.LICENSE.txt
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.821bcde68930fe57a459.css
  src/sphinxawesome_theme/static/theme.a9d041328d1560cbc665.js
  src/sphinxawesome_theme/static/theme.daf58244425b68b2dc6b.js
  src/sphinxawesome_theme/static/theme.daf58244425b68b2dc6b.js.LICENSE.txt
  src/sphinxawesome_theme/static/theme.e6081a2fb60dd7bf7015.css
  src/theme-src/package.json
  src/theme-src/yarn.lock
Due: black, flake8, isort

chore: update stimulus
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.cb62ca5601ec709626b6.js
  src/sphinxawesome_theme/static/theme.cb62ca5601ec709626b6.js.LICENSE.txt
  src/sphinxawesome_theme/static/theme.daf58244425b68b2dc6b.js
  src/theme-src/js/app.js
  src/theme-src/js/controllers/clipboard-controller.js
  src/theme-src/js/controllers/code-controller.js
  src/theme-src/js/controllers/collapsible-controller.js
  src/theme-src/js/controllers/scroll-controller.js
  src/theme-src/js/controllers/search-controller.js
  src/theme-src/js/controllers/sidebar-controller.js
  src/theme-src/package.json
  src/theme-src/yarn.lock
Due: none

chore: update stimulus (#991)
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.cb62ca5601ec709626b6.js
  src/sphinxawesome_theme/static/theme.cb62ca5601ec709626b6.js.LICENSE.txt
  src/sphinxawesome_theme/static/theme.daf58244425b68b2dc6b.js
  src/theme-src/js/app.js
  src/theme-src/js/controllers/clipboard-controller.js
  src/theme-src/js/controllers/code-controller.js
  src/theme-src/js/controllers/collapsible-controller.js
  src/theme-src/js/controllers/scroll-controller.js
  src/theme-src/js/controllers/search-controller.js
  src/theme-src/js/controllers/sidebar-controller.js
  src/theme-src/package.json
  src/theme-src/yarn.lock
Due: none

fix: type error
  src/sphinxawesome_theme/docsearch.py
Due: black, flake8, isort

docs: no overview over
  docs/index.md
  poetry.lock
Due: none

docs: no overview over (#1029)
  docs/index.md
  poetry.lock
Due: none

fix: theme works without setting extension
  src/sphinxawesome_theme/static/docsearch_config.js_t
Due: none

fix: theme works without setting extension
  CHANGELOG.md
  README.md
  docs/how-to/load.md
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  sync: any of: pyproject\.toml
