Repository kai687/sphinxawesome-theme: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, sync

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

isort:
  name: isort
  entry: poetry run isort
  language: system

sync:
  name: sync requirements.txt
  entry: nox -s export
  pass_filenames: false
  language: system

fix: simplify `terminal` lexing
  src/sphinxawesome_theme/highlighting.py
Due: black, flake8, isort

fix: vale
  docs/how-to/options.md
Due: none

fix: blockquote styles update
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.33684ae9923d01874503.css
  src/sphinxawesome_theme/static/theme.6ffd282b17f80c3a81ab.css
  src/theme-src/css/admonitions.css
Due: none

fix: code block tweaks (#775)
  CHANGELOG.rst
  docs/demo/notes.rst
  docs/how-to/options.md
  noxfile.py
  src/sphinxawesome_theme/__init__.py
  src/sphinxawesome_theme/highlighting.py
  src/sphinxawesome_theme/html_translator.py
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.33684ae9923d01874503.css
  src/sphinxawesome_theme/static/theme.6062d31a26102e21c930.css
  src/theme-src/css/admonitions.css
  src/theme-src/css/code.css
Due: black, flake8, isort

Update README.md
  README.md
Due: none

chore: version update
  CHANGELOG.rst
  pyproject.toml
  tests/test_sphinxawesome_theme.py
Due: black, flake8, isort, sync

chore: version update (#776)
  CHANGELOG.rst
  pyproject.toml
  tests/test_sphinxawesome_theme.py
Due: black, flake8, isort, sync

Delete poetry.toml
  poetry.toml
Due: none

v3.3.0
  src/theme-src/package.json
Due: none

chore: document release tagging steps
  utils/release.md
Due: none

fix/ci bug (#777)
  src/theme-src/package.json
  utils/release.md
Due: none

Update README.rst
  src/sphinxawesome_theme/README.rst
Due: none

styles: smaller list margins on smaller screens
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.33684ae9923d01874503.css
  src/sphinxawesome_theme/static/theme.96f48bac903306927fda.css
  src/theme-src/css/lists.css
  src/theme-src/yarn.lock
Due: none

styles: smaller list margins on smaller screens (#779)
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.33684ae9923d01874503.css
  src/sphinxawesome_theme/static/theme.96f48bac903306927fda.css
  src/theme-src/css/lists.css
  src/theme-src/yarn.lock
Due: none

fix: close sidebar action
  src/sphinxawesome_theme/sidebar.html
Due: none

fix: close sidebar action (#780)
  src/sphinxawesome_theme/sidebar.html
Due: none

fix: bug when not using DocSearch
  src/sphinxawesome_theme/__init__.py
  src/sphinxawesome_theme/docsearch.py
Due: black, flake8, isort

chore: update changelog
  CHANGELOG.md
Due: none

fix: bug when not using DocSearch (#782)
  CHANGELOG.md
  src/sphinxawesome_theme/__init__.py
  src/sphinxawesome_theme/docsearch.py
Due: black, flake8, isort

docs: fix meta description tag
  docs/how-to/install.md
  docs/how-to/load.md
  docs/how-to/modify.md
  docs/index.md
Due: none

docs: changelog extension
  docs/how-to/install.md
Due: none

docs: fix meta description tag (#783)
  docs/how-to/install.md
  docs/how-to/load.md
  docs/how-to/modify.md
  docs/index.md
Due: none

styles: tweak sidebar style
  poetry.lock
  requirements.txt
  src/sphinxawesome_theme/static/docsearch.56cfe8d88b550428f360.js
  src/sphinxawesome_theme/static/docsearch.56cfe8d88b550428f360.js.LICENSE.txt
  src/sphinxawesome_theme/static/docsearch.6614e257e412f091a8ff.js
  src/sphinxawesome_theme/static/docsearch.6614e257e412f091a8ff.js.LICENSE.txt
  src/sphinxawesome_theme/static/docsearch.e287c77dae64c5ebc045.css
  src/sphinxawesome_theme/static/docsearch.f5ff72309fe7dfa85f12.css
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.96f48bac903306927fda.css
  src/sphinxawesome_theme/static/theme.d7a13c1312e56a9a25fb.css
  src/theme-src/css/nav.css
  src/theme-src/yarn.lock
Due: none

fix: mypy errors
  src/sphinxawesome_theme/highlighting.py
  src/sphinxawesome_theme/html_translator.py
Due: black, flake8, isort

styles: tweak sidebar style (#791)
  poetry.lock
  requirements.txt
  src/sphinxawesome_theme/highlighting.py
  src/sphinxawesome_theme/html_translator.py
  src/sphinxawesome_theme/static/docsearch.56cfe8d88b550428f360.js
  src/sphinxawesome_theme/static/docsearch.56cfe8d88b550428f360.js.LICENSE.txt
  src/sphinxawesome_theme/static/docsearch.6614e257e412f091a8ff.js
  src/sphinxawesome_theme/static/docsearch.6614e257e412f091a8ff.js.LICENSE.txt
  src/sphinxawesome_theme/static/docsearch.e287c77dae64c5ebc045.css
  src/sphinxawesome_theme/static/docsearch.f5ff72309fe7dfa85f12.css
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.96f48bac903306927fda.css
  src/sphinxawesome_theme/static/theme.d7a13c1312e56a9a25fb.css
  src/theme-src/css/nav.css
  src/theme-src/yarn.lock
Due: black, flake8, isort

chore: update packages
  poetry.lock
  src/theme-src/yarn.lock
Due: none

fix: scroll to top
  requirements.txt
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.1ba02c30758e6036ba31.js
  src/sphinxawesome_theme/static/theme.31b2f4bacf2e5b9807a3.js
  src/sphinxawesome_theme/static/theme.31b2f4bacf2e5b9807a3.js.LICENSE.txt
  src/sphinxawesome_theme/with-sidebar.html
  src/theme-src/js/controllers/scroll-controller.js
Due: none

fix: flake8-bandit bug
  CHANGELOG.md
  poetry.lock
  pyproject.toml
  requirements.txt
Due: sync

fix: scroll to top bug (#798)
  CHANGELOG.md
  poetry.lock
  pyproject.toml
  requirements.txt
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.1ba02c30758e6036ba31.js
  src/sphinxawesome_theme/static/theme.31b2f4bacf2e5b9807a3.js
  src/sphinxawesome_theme/static/theme.31b2f4bacf2e5b9807a3.js.LICENSE.txt
  src/sphinxawesome_theme/with-sidebar.html
  src/theme-src/js/controllers/scroll-controller.js
  src/theme-src/yarn.lock
Due: sync

fix: smaller li spacing
  CHANGELOG.md
  poetry.lock
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.48a63441bf61477bef2e.css
  src/sphinxawesome_theme/static/theme.d7a13c1312e56a9a25fb.css
  src/theme-src/css/lists.css
  src/theme-src/package.json
  src/theme-src/yarn.lock
Due: none

fix: smaller li spacing (#807)
  CHANGELOG.md
  poetry.lock
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.48a63441bf61477bef2e.css
  src/sphinxawesome_theme/static/theme.d7a13c1312e56a9a25fb.css
  src/theme-src/css/lists.css
  src/theme-src/package.json
  src/theme-src/yarn.lock
Due: none

chore: bandit update
  poetry.lock
  pyproject.toml
  requirements.txt
Due: sync

chore: bandit update (#816)
  poetry.lock
  pyproject.toml
  requirements.txt
Due: sync

chore: update packages (#827)
  poetry.lock
  src/theme-src/yarn.lock
Due: none

chore: ignore ANN401
  .flake8
Due: none

chore: ignore ANN401 (#851)
  .flake8
Due: none

chore: update packages
  poetry.lock
  src/sphinxawesome_theme/static/04221d1c6838f9fdd557.woff
  src/sphinxawesome_theme/static/1665128c96e2d5f27f6a.woff2
  src/sphinxawesome_theme/static/1b0f4d9f360bf795b840.woff2
  src/sphinxawesome_theme/static/30670a02974f80a898ff.woff2
  src/sphinxawesome_theme/static/3b2dacb09b5cc8a36c28.woff
  src/sphinxawesome_theme/static/427aa5b274e56460a497.woff
  src/sphinxawesome_theme/static/518464e0ec13eabaab5b.woff
  src/sphinxawesome_theme/static/523d95e8734465d37946.woff
  src/sphinxawesome_theme/static/5378fa574040dbf18297.woff
  src/sphinxawesome_theme/static/7b7c80708f0c7a904863.woff2
  src/sphinxawesome_theme/static/9d02cef1963502c9b2f9.woff2
  src/sphinxawesome_theme/static/9da12ee2226cebdf4db1.woff2
  src/sphinxawesome_theme/static/a65a0448afa2c6ed3908.woff2
  src/sphinxawesome_theme/static/b315749ee28367113b01.woff
  src/sphinxawesome_theme/static/c3a23073096fe509111c.woff2
  src/sphinxawesome_theme/static/d56c9111fe2295657c50.woff
  src/sphinxawesome_theme/static/docsearch.785619191bb218087918.css
  src/sphinxawesome_theme/static/docsearch.e287c77dae64c5ebc045.css
  src/sphinxawesome_theme/static/e2899e588021cfc45d7f.woff
  src/sphinxawesome_theme/static/e3af00b45d7cbb7f1349.woff2
  src/sphinxawesome_theme/static/f58c05a5dca66a6c14cf.woff
  src/sphinxawesome_theme/static/ff2e05b5e7115bad10a9.woff2
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.48a63441bf61477bef2e.css
  src/sphinxawesome_theme/static/theme.b019255c648a2837f6f0.css
  src/theme-src/yarn.lock
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  sync: any of: pyproject\.toml
