Repository kai687/sphinxawesome-theme: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, sync

.pre-commit-config.yaml:

repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: trailing-whitespace
      - id: no-commit-to-branch
  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: sync
        name: sync constraints.txt
        entry: nox -s export
        pass_filenames: false
        language: system
        files: 'pyproject\.toml'
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.0.0-alpha.9-for-vscode"
    hooks:
      - id: prettier
        types: [javascript]
        files: "src/theme-src/"

build: update dependencies (#1341)
  poetry.lock
  pyproject.toml
  requirements.txt
  src/sphinxawesome_theme/static/docsearch.445222223e83896718c6.css
  src/sphinxawesome_theme/static/docsearch.82e38f6cd0ccc11d77d4.css
  src/sphinxawesome_theme/static/docsearch.8cecda6602174cdd6086.js
  src/sphinxawesome_theme/static/docsearch.8cecda6602174cdd6086.js.LICENSE.txt
  src/sphinxawesome_theme/static/docsearch.f1a1a5835ed7a6ab0c85.js
  src/sphinxawesome_theme/static/docsearch.f1a1a5835ed7a6ab0c85.js.LICENSE.txt
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.55e8056ed84b8ec7a6cd.js
  src/sphinxawesome_theme/static/theme.55e8056ed84b8ec7a6cd.js.LICENSE.txt
  src/sphinxawesome_theme/static/theme.ad172c0f1249198ea036.js
  src/theme-src/package.json
  src/theme-src/yarn.lock
Due: sync

ci: update gh actions to use env variables
  .github/workflows/lint-docs.yml
  .github/workflows/lint.yml
Due: none

ci: fix syntax for environment variables
  .github/workflows/lint-docs.yml
  .github/workflows/lint.yml
Due: none

ci: update gh actions to use env variables (#1343)
  .github/workflows/lint-docs.yml
  .github/workflows/lint.yml
Due: none

build(poetry): update dependencies
  poetry.lock
Due: none

build(js): switch to pnpm
  src/sphinxawesome_theme/static/09be83022f2ac2ce16b0.woff
  src/sphinxawesome_theme/static/0ff19efc74e94c856af0.woff2
  src/sphinxawesome_theme/static/0ffeb7a552b36437b54c.woff
  src/sphinxawesome_theme/static/26400cae88e50682937d.woff
  src/sphinxawesome_theme/static/2a472f0334546ace60b3.woff2
  src/sphinxawesome_theme/static/31f64b9c465158bd6066.woff2
  src/sphinxawesome_theme/static/3925889378745d0382d0.woff
  src/sphinxawesome_theme/static/4163112e566ed7697acf.woff2
  src/sphinxawesome_theme/static/44fd0da18fe361a5cc7f.woff
  src/sphinxawesome_theme/static/46830c334f8112fa510a.woff
  src/sphinxawesome_theme/static/5b12b1b913a1d0348fc6.woff
  src/sphinxawesome_theme/static/6c1a3008005254946aef.woff
  src/sphinxawesome_theme/static/6f04107ce68d524ebe69.woff
  src/sphinxawesome_theme/static/ad463ea60cc8b68792f4.woff
  src/sphinxawesome_theme/static/aef37e2fab43d03531cd.woff2
  src/sphinxawesome_theme/static/b8546ea1646db8ea9c7f.woff
  src/sphinxawesome_theme/static/c10c163dd1c289f11c49.woff2
  src/sphinxawesome_theme/static/c3b5f43fe4c8f3f1fa21.woff2
  src/sphinxawesome_theme/static/cfdd43ce3499ca7f900a.woff2
  src/sphinxawesome_theme/static/d0b41bd1d599bc0a52b7.woff2
  src/sphinxawesome_theme/static/ec416b97881f4a422686.woff2
  src/sphinxawesome_theme/static/f4604891b5f1fc1bdbe5.woff2
  src/sphinxawesome_theme/static/f509ddf49c74ded8c0ee.woff
  src/sphinxawesome_theme/static/ff058b7e238adc5cba09.woff2
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.55e8056ed84b8ec7a6cd.js
  src/sphinxawesome_theme/static/theme.871137ef162fc5460fb0.css
  src/sphinxawesome_theme/static/theme.929b2cdd5fa757959a38.js
  src/sphinxawesome_theme/static/theme.929b2cdd5fa757959a38.js.LICENSE.txt
  src/theme-src/package.json
  src/theme-src/pnpm-lock.yaml
  src/theme-src/yarn.lock
Due: none

docs: pnpm instead of yarn
  docs/how-to/build-your-own/includes/install-js-dependencies.rst
  docs/how-to/build-your-own/includes/prepare-js-environment.rst
Due: none

build: use pnpm instead of yarn (#1344)
  docs/how-to/build-your-own/includes/install-js-dependencies.rst
  docs/how-to/build-your-own/includes/prepare-js-environment.rst
  poetry.lock
  src/sphinxawesome_theme/static/09be83022f2ac2ce16b0.woff
  src/sphinxawesome_theme/static/0ff19efc74e94c856af0.woff2
  src/sphinxawesome_theme/static/0ffeb7a552b36437b54c.woff
  src/sphinxawesome_theme/static/26400cae88e50682937d.woff
  src/sphinxawesome_theme/static/2a472f0334546ace60b3.woff2
  src/sphinxawesome_theme/static/31f64b9c465158bd6066.woff2
  src/sphinxawesome_theme/static/3925889378745d0382d0.woff
  src/sphinxawesome_theme/static/4163112e566ed7697acf.woff2
  src/sphinxawesome_theme/static/44fd0da18fe361a5cc7f.woff
  src/sphinxawesome_theme/static/46830c334f8112fa510a.woff
  src/sphinxawesome_theme/static/5b12b1b913a1d0348fc6.woff
  src/sphinxawesome_theme/static/6c1a3008005254946aef.woff
  src/sphinxawesome_theme/static/6f04107ce68d524ebe69.woff
  src/sphinxawesome_theme/static/ad463ea60cc8b68792f4.woff
  src/sphinxawesome_theme/static/aef37e2fab43d03531cd.woff2
  src/sphinxawesome_theme/static/b8546ea1646db8ea9c7f.woff
  src/sphinxawesome_theme/static/c10c163dd1c289f11c49.woff2
  src/sphinxawesome_theme/static/c3b5f43fe4c8f3f1fa21.woff2
  src/sphinxawesome_theme/static/cfdd43ce3499ca7f900a.woff2
  src/sphinxawesome_theme/static/d0b41bd1d599bc0a52b7.woff2
  src/sphinxawesome_theme/static/ec416b97881f4a422686.woff2
  src/sphinxawesome_theme/static/f4604891b5f1fc1bdbe5.woff2
  src/sphinxawesome_theme/static/f509ddf49c74ded8c0ee.woff
  src/sphinxawesome_theme/static/ff058b7e238adc5cba09.woff2
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.55e8056ed84b8ec7a6cd.js
  src/sphinxawesome_theme/static/theme.871137ef162fc5460fb0.css
  src/sphinxawesome_theme/static/theme.929b2cdd5fa757959a38.js
  src/sphinxawesome_theme/static/theme.929b2cdd5fa757959a38.js.LICENSE.txt
  src/theme-src/package.json
  src/theme-src/pnpm-lock.yaml
  src/theme-src/yarn.lock
Due: none

feat: export permalinks icon
  docs/conf.py
  src/sphinxawesome_theme/postprocess.py
Due: black

feat: export permalinks icon (#1345)
  docs/conf.py
  src/sphinxawesome_theme/postprocess.py
Due: black

chore: version bump
  CHANGELOG.md
  pyproject.toml
  src/theme-src/package.json
  tests/test_basic.py
Due: black, sync

chore: version bump (#1347)
  CHANGELOG.md
  pyproject.toml
  src/theme-src/package.json
  tests/test_basic.py
Due: black, sync

chore: delete useless readmes
  src/README.md
  src/README.rst
  src/sphinxawesome_theme/README.rst
  tests/README.md
Due: none

chore: delete useless readmes (#1348)
  src/README.md
  src/README.rst
  src/sphinxawesome_theme/README.rst
  tests/README.md
Due: none

build: update dependencies
  poetry.lock
  src/sphinxawesome_theme/static/awesome-sphinx-design.495717882cf46c002fb5.css
  src/sphinxawesome_theme/static/awesome-sphinx-design.f3507627e0af8330cfa7.css
  src/sphinxawesome_theme/static/docsearch.0d41323c78ab115fe2db.js
  src/sphinxawesome_theme/static/docsearch.0d41323c78ab115fe2db.js.LICENSE.txt
  src/sphinxawesome_theme/static/docsearch.82e38f6cd0ccc11d77d4.css
  src/sphinxawesome_theme/static/docsearch.85d5398a6bda019d8011.css
  src/sphinxawesome_theme/static/docsearch.8cecda6602174cdd6086.js
  src/sphinxawesome_theme/static/docsearch.8cecda6602174cdd6086.js.LICENSE.txt
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.3849c567b4e07dd3db70.css
  src/sphinxawesome_theme/static/theme.871137ef162fc5460fb0.css
  src/sphinxawesome_theme/static/theme.8ffe40a2eae52cc22aaf.js
  src/sphinxawesome_theme/static/theme.8ffe40a2eae52cc22aaf.js.LICENSE.txt
  src/sphinxawesome_theme/static/theme.929b2cdd5fa757959a38.js
  src/theme-src/package.json
  src/theme-src/pnpm-lock.yaml
Due: none

build: update dependencies (#1358)
  poetry.lock
  src/sphinxawesome_theme/static/awesome-sphinx-design.495717882cf46c002fb5.css
  src/sphinxawesome_theme/static/awesome-sphinx-design.f3507627e0af8330cfa7.css
  src/sphinxawesome_theme/static/docsearch.0d41323c78ab115fe2db.js
  src/sphinxawesome_theme/static/docsearch.0d41323c78ab115fe2db.js.LICENSE.txt
  src/sphinxawesome_theme/static/docsearch.82e38f6cd0ccc11d77d4.css
  src/sphinxawesome_theme/static/docsearch.85d5398a6bda019d8011.css
  src/sphinxawesome_theme/static/docsearch.8cecda6602174cdd6086.js
  src/sphinxawesome_theme/static/docsearch.8cecda6602174cdd6086.js.LICENSE.txt
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.3849c567b4e07dd3db70.css
  src/sphinxawesome_theme/static/theme.871137ef162fc5460fb0.css
  src/sphinxawesome_theme/static/theme.8ffe40a2eae52cc22aaf.js
  src/sphinxawesome_theme/static/theme.8ffe40a2eae52cc22aaf.js.LICENSE.txt
  src/sphinxawesome_theme/static/theme.929b2cdd5fa757959a38.js
  src/theme-src/package.json
  src/theme-src/pnpm-lock.yaml
Due: none

build: update requirements.txt
  requirements.txt
Due: none

build: update requirements.txt (#1359)
  requirements.txt
Due: none

fix: copy code ignores prompt characters
  docs/demo/code-blocks.rst
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.15c15b6eb29b1f25b993.css
  src/sphinxawesome_theme/static/theme.d5da1ae72e45df4c5b8e.css
  src/theme-src/css/code.css
Due: none

fix: types
  src/sphinxawesome_theme/postprocess.py
Due: black

chore: update dependencies
  poetry.lock
  pyproject.toml
  requirements.txt
  src/sphinxawesome_theme/static/docsearch.514aefb85d9081d2c28c.js
  src/sphinxawesome_theme/static/docsearch.514aefb85d9081d2c28c.js.LICENSE.txt
  src/sphinxawesome_theme/static/docsearch.5c8e67e372cc19a8aac8.css
  src/sphinxawesome_theme/static/docsearch.83e8e0316c3f553350c3.css
  src/sphinxawesome_theme/static/docsearch.f87705adb523b39a3d6c.js
  src/sphinxawesome_theme/static/docsearch.f87705adb523b39a3d6c.js.LICENSE.txt
  src/sphinxawesome_theme/static/manifest.json
  src/theme-src/package.json
  src/theme-src/pnpm-lock.yaml
Due: sync

chore: bump version in test
  tests/test_basic.py
Due: black

chore: bump version (#1466)
  poetry.lock
  pyproject.toml
  requirements.txt
  src/sphinxawesome_theme/static/docsearch.514aefb85d9081d2c28c.js
  src/sphinxawesome_theme/static/docsearch.514aefb85d9081d2c28c.js.LICENSE.txt
  src/sphinxawesome_theme/static/docsearch.5c8e67e372cc19a8aac8.css
  src/sphinxawesome_theme/static/docsearch.83e8e0316c3f553350c3.css
  src/sphinxawesome_theme/static/docsearch.f87705adb523b39a3d6c.js
  src/sphinxawesome_theme/static/docsearch.f87705adb523b39a3d6c.js.LICENSE.txt
  src/sphinxawesome_theme/static/manifest.json
  src/theme-src/package.json
  src/theme-src/pnpm-lock.yaml
  tests/test_basic.py
Due: black, sync

fix: make python output unselectable
  docs/demo/code-blocks.rst
  poetry.lock
  pyproject.toml
  requirements.txt
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.47abdafeea10b5ccf58b.css
  src/sphinxawesome_theme/static/theme.4ea23184acb23c5e9294.js
  src/sphinxawesome_theme/static/theme.4ea23184acb23c5e9294.js.LICENSE.txt
  src/sphinxawesome_theme/static/theme.83923940ee80f2e3f0bf.js
  src/sphinxawesome_theme/static/theme.d5da1ae72e45df4c5b8e.css
  src/theme-src/css/code.css
  src/theme-src/package.json
  src/theme-src/pnpm-lock.yaml
Due: sync

chore: bump version
  pyproject.toml
  src/theme-src/package.json
  tests/test_basic.py
Due: black, sync

fix: make python output unselectable (#1508)
  docs/demo/code-blocks.rst
  poetry.lock
  pyproject.toml
  requirements.txt
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.47abdafeea10b5ccf58b.css
  src/sphinxawesome_theme/static/theme.4ea23184acb23c5e9294.js
  src/sphinxawesome_theme/static/theme.4ea23184acb23c5e9294.js.LICENSE.txt
  src/sphinxawesome_theme/static/theme.83923940ee80f2e3f0bf.js
  src/sphinxawesome_theme/static/theme.d5da1ae72e45df4c5b8e.css
  src/theme-src/css/code.css
  src/theme-src/package.json
  src/theme-src/pnpm-lock.yaml
  tests/test_basic.py
Due: black, sync

fix: pin Sphinx version
  poetry.lock
  pyproject.toml
  src/theme-src/package.json
  tests/test_basic.py
Due: black, sync

fix: pin Sphinx version (#1511)
  poetry.lock
  pyproject.toml
  src/theme-src/package.json
  tests/test_basic.py
Due: black, sync

fix: no findall in older docutils
  src/sphinxawesome_theme/toc.py
Due: black

fix: no findall in older docutils (#1513)
  src/sphinxawesome_theme/toc.py
Due: black

fix: progress_message is imported incorrectly in sphinx5
  src/sphinxawesome_theme/docsearch.py
Due: black

fix: progress_message is imported incorrectly in sphinx5 (#1538)
  src/sphinxawesome_theme/docsearch.py
Due: black

fix: type errors
  src/sphinxawesome_theme/docsearch.py
Due: black

fix: type errors (#1539)
  src/sphinxawesome_theme/docsearch.py
Due: black

fix: update attempt
  docs/conf.py
  noxfile.py
  poetry.lock
  pyproject.toml
  requirements.txt
  src/sphinxawesome_theme/__init__.py
  src/sphinxawesome_theme/jinja_functions.py
  src/sphinxawesome_theme/layout.html
  src/sphinxawesome_theme/searchbox.html
  src/sphinxawesome_theme/static/awesome-sphinx-design.31d6cfe0d16ae931b73c.js
  src/sphinxawesome_theme/static/awesome-sphinx-design.css
  src/sphinxawesome_theme/static/awesome-sphinx-design.js
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.css
  src/sphinxawesome_theme/static/theme.js
  src/sphinxawesome_theme/static/theme.js.LICENSE.txt
  src/theme-src/webpack.config.js
Due: black, sync

fix: remove unused tests
  .github/workflows/lint.yml
  tests/test_extensions.py
Due: black
