Repository kai687/sphinxawesome-theme: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, sync

.pre-commit-config.yaml:

repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: trailing-whitespace
      - id: no-commit-to-branch
  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: sync
        name: sync constraints.txt
        entry: nox -s export
        pass_filenames: false
        language: system
        files: 'pyproject\.toml'
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.0.0-alpha.9-for-vscode"
    hooks:
      - id: prettier
        types: [javascript]
        files: "src/theme-src/"

fix: update github actions
  .github/workflows/lint-docs.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
Due: none

fix: tests
  docs/conf.py
  noxfile.py
  src/sphinxawesome_theme/deprecated.py
  tests/conftest.py
  tests/test_deprecated.py
  tests/test_extensions.py
Due: black

fix: version
  pyproject.toml
  tests/test_basic.py
Due: black, sync

fix: prettier rules
  src/sphinxawesome_theme/static/awesome-docsearch.css
  src/sphinxawesome_theme/static/awesome-docsearch.js
  src/sphinxawesome_theme/static/theme.css
  src/theme-src/css/code.css
  src/theme-src/css/content.css
  src/theme-src/css/docsearch.css
  src/theme-src/css/styles.css
  src/theme-src/css/toc.css
  src/theme-src/js/app.js
  src/theme-src/js/code.js
  src/theme-src/js/search.js
  src/theme-src/package.json
  src/theme-src/pnpm-lock.yaml
  src/theme-src/postcss.config.js
  src/theme-src/prettier.config.js
  src/theme-src/stylelint.config.js
  src/theme-src/tailwind.config.js
  src/theme-src/webpack.config.js
Due: none

fix: search works
  src/sphinxawesome_theme/layout.html
  src/sphinxawesome_theme/search.html
Due: none

docs: docsearch
  CHANGELOG.md
  README.md
  docs/how-to/add/includes/add-to-sphinx.rst
  docs/how-to/configure/includes/docsearch.rst
  docs/how-to/configure/includes/extensions.rst
Due: none

fix: external docsearch extension
  .pre-commit-config.yaml
  docs/conf.py
  noxfile.py
  poetry.lock
  pyproject.toml
  src/sphinxawesome_theme/__init__.py
  src/sphinxawesome_theme/header.html
  src/sphinxawesome_theme/static/awesome-docsearch.css
  src/sphinxawesome_theme/static/theme.css
  src/sphinxawesome_theme/static/theme.js
  src/theme-src/.eslintrc.js
  src/theme-src/.prettierrc
  src/theme-src/css/docsearch.css
  src/theme-src/js/app.js
  src/theme-src/package.json
  src/theme-src/pnpm-lock.yaml
  src/theme-src/prettier.config.js
Due: black, sync

fix: do not fail if theres no class
  src/sphinxawesome_theme/postprocess.py
Due: black

feat: index template
  src/sphinxawesome_theme/genindex.html
Due: none

fix: version
  pyproject.toml
  src/sphinxawesome_theme/static/theme.css
  src/theme-src/.eslintrc.js
  src/theme-src/package.json
  src/theme-src/pnpm-lock.yaml
  tests/test_basic.py
Due: black, sync

fix: add template for index (#1597)
  pyproject.toml
  src/sphinxawesome_theme/genindex.html
  src/sphinxawesome_theme/static/theme.css
  src/theme-src/.eslintrc.js
  src/theme-src/package.json
  src/theme-src/pnpm-lock.yaml
  tests/test_basic.py
Due: black, sync

fix: don't fail if there's no class (#1596)
  src/sphinxawesome_theme/postprocess.py
Due: black

docs: update docs to prepare new release
  README.md
  docs/how-to/add/includes/add-to-sphinx.rst
  docs/how-to/add/index.rst
  docs/how-to/configure/includes/extensions.rst
  docs/how-to/configure/includes/theme-options.rst
  docs/how-to/configure/index.rst
  docs/how-to/customize/add-custom-css.rst
  docs/how-to/install/includes/install-python-package.rst
  docs/index.rst
  src/sphinxawesome_theme/static/theme.css
  src/theme-src/css/code.css
Due: none

fix: update versions
  pyproject.toml
  src/theme-src/package.json
  tests/test_basic.py
Due: black, sync

feat: prepare release (#1598)
  README.md
  docs/how-to/add/includes/add-to-sphinx.rst
  docs/how-to/add/index.rst
  docs/how-to/configure/includes/extensions.rst
  docs/how-to/configure/includes/theme-options.rst
  docs/how-to/configure/index.rst
  docs/how-to/customize/add-custom-css.rst
  docs/how-to/install/includes/install-python-package.rst
  docs/index.rst
  pyproject.toml
  src/sphinxawesome_theme/static/theme.css
  src/theme-src/css/code.css
  src/theme-src/package.json
  tests/test_basic.py
Due: black, sync

docs: more updates
  docs/changelog/includes/5.0.rst
  docs/how-to/add/includes/configure.inc
  docs/index.rst
  src/sphinxawesome_theme/static/awesome-sphinx-design.css
  src/sphinxawesome_theme/static/theme.css
  src/theme-src/css/code.css
  src/theme-src/css/sphinx-design.css
Due: none

docs: more updates (#1599)
  docs/changelog/includes/5.0.rst
  docs/how-to/add/includes/configure.inc
  docs/index.rst
  src/sphinxawesome_theme/static/awesome-sphinx-design.css
  src/sphinxawesome_theme/static/theme.css
  src/theme-src/css/code.css
  src/theme-src/css/sphinx-design.css
Due: none

feat(css): lines above autodoc members
  src/sphinxawesome_theme/static/theme.css
  src/theme-src/css/code.css
Due: none

feat(css): lines above autodoc members (#1600)
  src/sphinxawesome_theme/static/theme.css
  src/theme-src/css/code.css
Due: none

feat: new release
  docs/how-to/install/includes/install.sh
  poetry.lock
  pyproject.toml
  requirements.txt
  src/theme-src/package.json
  src/theme-src/pnpm-lock.yaml
  tests/test_basic.py
Due: black, sync

feat: new release (#1601)
  docs/how-to/install/includes/install.sh
  poetry.lock
  pyproject.toml
  requirements.txt
  src/theme-src/package.json
  src/theme-src/pnpm-lock.yaml
  tests/test_basic.py
Due: black, sync

fix(css): right sidebar height (#1617)
  poetry.lock
  pyproject.toml
  requirements.txt
  src/sphinxawesome_theme/static/0fecf1cc5677455886b4.woff2
  src/sphinxawesome_theme/static/0ff19efc74e94c856af0.woff2
  src/sphinxawesome_theme/static/1d5fc702ab9000c3247a.woff
  src/sphinxawesome_theme/static/26400cae88e50682937d.woff
  src/sphinxawesome_theme/static/2a472f0334546ace60b3.woff2
  src/sphinxawesome_theme/static/2fe080a3bf49bdc12fcb.woff2
  src/sphinxawesome_theme/static/3925889378745d0382d0.woff
  src/sphinxawesome_theme/static/39bd78ffb50669d6855a.woff
  src/sphinxawesome_theme/static/4163112e566ed7697acf.woff2
  src/sphinxawesome_theme/static/4f183a25813446a47ad9.woff2
  src/sphinxawesome_theme/static/5b12b1b913a1d0348fc6.woff
  src/sphinxawesome_theme/static/5f68b8c26e28d783a591.woff2
  src/sphinxawesome_theme/static/63a0f5d460fb58135365.woff
  src/sphinxawesome_theme/static/6c1a3008005254946aef.woff
  src/sphinxawesome_theme/static/70e1dc5f5622381d6e9e.woff
  src/sphinxawesome_theme/static/84504970850f0632d9c3.woff
  src/sphinxawesome_theme/static/a1e4997bd1fb9d7822e1.woff2
  src/sphinxawesome_theme/static/a61d04152f1635036f0d.woff2
  src/sphinxawesome_theme/static/aef37e2fab43d03531cd.woff2
  src/sphinxawesome_theme/static/b8546ea1646db8ea9c7f.woff
  src/sphinxawesome_theme/static/c10c163dd1c289f11c49.woff2
  src/sphinxawesome_theme/static/c226d7283d0d52c2d32c.woff
  src/sphinxawesome_theme/static/f4604891b5f1fc1bdbe5.woff2
  src/sphinxawesome_theme/static/f509ddf49c74ded8c0ee.woff
  src/sphinxawesome_theme/static/theme.css
  src/sphinxawesome_theme/toc.html
  src/theme-src/package.json
  src/theme-src/pnpm-lock.yaml
  tests/test_basic.py
Due: black, sync

Fix a typo in readme.md
  README.md
Due: none

Fix a typo in readme.md (#1634)
  README.md
Due: none

fix: blur screen disappears on medium and up
  src/sphinxawesome_theme/layout.html
Due: none

chore: update packages
  poetry.lock
  src/sphinxawesome_theme/static/awesome-docsearch.css
  src/sphinxawesome_theme/static/theme.css
  src/theme-src/package.json
  src/theme-src/pnpm-lock.yaml
Due: none

chore: update packages
  pyproject.toml
  requirements.txt
  src/theme-src/package.json
  tests/test_basic.py
Due: black, sync

fix: make blurry background screen disappear (#1651)
  poetry.lock
  pyproject.toml
  requirements.txt
  src/sphinxawesome_theme/layout.html
  src/sphinxawesome_theme/static/awesome-docsearch.css
  src/sphinxawesome_theme/static/theme.css
  src/theme-src/package.json
  src/theme-src/pnpm-lock.yaml
  tests/test_basic.py
Due: black, sync

chore: remove old intersphinx mapping
  docs/conf.py
Due: black

feat: postprocess only changed files
  src/sphinxawesome_theme/__init__.py
  src/sphinxawesome_theme/postprocess.py
  tests/test_external_links.py
Due: black

chore: bump version
  poetry.lock
  pyproject.toml
  requirements.txt
  src/theme-src/package.json
  src/theme-src/pnpm-lock.yaml
  tests/test_basic.py
Due: black, sync

feat: postprocess only changed HTML files (#1652)
  docs/conf.py
  poetry.lock
  pyproject.toml
  requirements.txt
  src/sphinxawesome_theme/__init__.py
  src/sphinxawesome_theme/postprocess.py
  src/theme-src/package.json
  src/theme-src/pnpm-lock.yaml
  tests/test_basic.py
  tests/test_external_links.py
Due: black, sync

fix: packages to install
  .pre-commit-config.yaml
  docs/readthedocs.txt
  noxfile.py
Due: black

fix: read the docs config
  .readthedocs.yaml
Due: none

feat: test site on read the docs (#1653)
  .pre-commit-config.yaml
  .readthedocs.yaml
  docs/readthedocs.txt
  noxfile.py
Due: black

fix: install current package
  .readthedocs.yaml
Due: none

fix: add current package (#1654)
  .readthedocs.yaml
Due: none

docs: correct content blocks
  docs/how-to/customize/includes/extend-template-blocks.rst
Due: none

docs: correct content blocks (#1714)
  docs/how-to/customize/includes/extend-template-blocks.rst
Due: none
