Repository kai687/sphinxawesome-theme: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, sync

.pre-commit-config.yaml:

---
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 40cc31b02ceb72045509576e51d9c82503751422
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: trailing-whitespace
      - id: no-commit-to-branch
  - repo: https://github.com/asottile/pyupgrade
    rev: d71f806ce2fa0799c8dbe8cdcba7f9d5af2fd167
    hooks:
      - id: pyupgrade
        args: [--py36-plus]
  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
      - id: sync
        name: sync requirements.txt
        entry: nox -s export
        pass_filenames: false
        language: system
        files: 'pyproject\.toml'
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v2.5.1'
    hooks:
      - id: prettier
        types: [javascript]
        files: "src/theme-src/"

fix: no flex-1
  src/sphinxawesome_theme/with-sidebar.html
  src/sphinxawesome_theme/without-sidebar.html
Due: none

fix: fixed height
  src/sphinxawesome_theme/layout.html
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.6c13617931033406bd29.css
  src/sphinxawesome_theme/static/theme.a465539a432ab49abf77.css
  src/sphinxawesome_theme/with-sidebar.html
  src/sphinxawesome_theme/without-sidebar.html
Due: none

fix: min-h no work
  src/sphinxawesome_theme/layout.html
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.92cc26ff5a6445443197.css
  src/sphinxawesome_theme/static/theme.a465539a432ab49abf77.css
Due: none

fix: found combination
  src/sphinxawesome_theme/layout.html
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.92cc26ff5a6445443197.css
  src/sphinxawesome_theme/static/theme.bbee6e347e1845e59e12.css
Due: none

fix: flex does the trick?
  src/sphinxawesome_theme/layout.html
  src/sphinxawesome_theme/with-sidebar.html
  src/sphinxawesome_theme/without-sidebar.html
Due: none

fix: scroll to top
  poetry.lock
  requirements.txt
  src/sphinxawesome_theme/layout.html
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.1031d387463753da523d.css
  src/sphinxawesome_theme/static/theme.3051a0ec24cad00d4d88.js
  src/sphinxawesome_theme/static/theme.3051a0ec24cad00d4d88.js.LICENSE.txt
  src/sphinxawesome_theme/static/theme.3f24424107630a4fcbca.js
  src/sphinxawesome_theme/static/theme.bbee6e347e1845e59e12.css
  src/sphinxawesome_theme/with-sidebar.html
  src/sphinxawesome_theme/without-sidebar.html
  src/theme-src/js/controllers/scroll-controller.js
Due: none

fix: layout (#1065)
  poetry.lock
  requirements.txt
  src/sphinxawesome_theme/layout.html
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.0fb7a1e735b10446dead.css
  src/sphinxawesome_theme/static/theme.1031d387463753da523d.css
  src/sphinxawesome_theme/static/theme.3051a0ec24cad00d4d88.js
  src/sphinxawesome_theme/static/theme.3051a0ec24cad00d4d88.js.LICENSE.txt
  src/sphinxawesome_theme/static/theme.3f24424107630a4fcbca.js
  src/sphinxawesome_theme/with-sidebar.html
  src/sphinxawesome_theme/without-sidebar.html
  src/theme-src/js/controllers/scroll-controller.js
  src/theme-src/js/docsearch_config.js_t
Due: none

fix: better print styles
  src/sphinxawesome_theme/footer.html
  src/sphinxawesome_theme/layout.html
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.092012b65a584553e4f6.css
  src/sphinxawesome_theme/static/theme.1031d387463753da523d.css
  src/sphinxawesome_theme/with-sidebar.html
  src/sphinxawesome_theme/without-sidebar.html
  src/theme-src/css/base.css
  src/theme-src/css/lists.css
  src/theme-src/css/nav.css
  src/theme-src/css/print.css
Due: none

fix: better print styles (#1066)
  src/sphinxawesome_theme/footer.html
  src/sphinxawesome_theme/layout.html
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.092012b65a584553e4f6.css
  src/sphinxawesome_theme/static/theme.1031d387463753da523d.css
  src/sphinxawesome_theme/with-sidebar.html
  src/sphinxawesome_theme/without-sidebar.html
  src/theme-src/css/base.css
  src/theme-src/css/lists.css
  src/theme-src/css/nav.css
  src/theme-src/css/print.css
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

v3.3.5
  src/theme-src/package.json
Due: none

chore: version update
  CHANGELOG.md
  pyproject.toml
  tests/test_basic.py
Due: black, flake8, isort, sync

chore/new release (#1067)
  CHANGELOG.md
  pyproject.toml
  src/theme-src/package.json
  tests/test_basic.py
Due: black, flake8, isort, sync

chore: test highlighting
  tests/roots/test-highlighting/conf.py
  tests/roots/test-highlighting/index.rst
  tests/test_extensions.py
  tests/test_highlighting.py
Due: black, flake8, isort

chore: test highlighting (#1068)
  tests/roots/test-highlighting/conf.py
  tests/roots/test-highlighting/index.rst
  tests/test_extensions.py
  tests/test_highlighting.py
Due: black, flake8, isort

fix: overscroll bug
  src/sphinxawesome_theme/layout.html
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.092012b65a584553e4f6.css
  src/sphinxawesome_theme/static/theme.c90eabadd25a904f3227.css
  src/sphinxawesome_theme/with-sidebar.html
  src/sphinxawesome_theme/without-sidebar.html
  src/theme-src/yarn.lock
Due: none

fix: simplify skip link
  src/sphinxawesome_theme/skip.html
Due: none

fix: hidden won't focus you dunce
  src/sphinxawesome_theme/skip.html
Due: none

fix: opacity
  src/sphinxawesome_theme/skip.html
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.0e75b4d1a85e3e87364c.css
  src/sphinxawesome_theme/static/theme.c90eabadd25a904f3227.css
Due: none

fix: tooltip to title
  src/sphinxawesome_theme/header.html
Due: none

fix: update changelog
  CHANGELOG.md
Due: none

fix: overscroll bug (#1069)
  CHANGELOG.md
  src/sphinxawesome_theme/header.html
  src/sphinxawesome_theme/layout.html
  src/sphinxawesome_theme/skip.html
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.092012b65a584553e4f6.css
  src/sphinxawesome_theme/static/theme.0e75b4d1a85e3e87364c.css
  src/sphinxawesome_theme/with-sidebar.html
  src/sphinxawesome_theme/without-sidebar.html
  src/theme-src/yarn.lock
Due: none

v3.3.6
  src/theme-src/package.json
Due: none

chore/new release (#1070)
  CHANGELOG.md
  pyproject.toml
  src/theme-src/package.json
  tests/test_basic.py
Due: black, flake8, isort, sync

fix: skip to content link
  src/sphinxawesome_theme/skip.html
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.0e75b4d1a85e3e87364c.css
  src/sphinxawesome_theme/static/theme.20e34bf7b19644d1dc25.css
Due: none

fix: update requirements
  poetry.lock
  requirements.txt
Due: none

chore: bump version
  CHANGELOG.md
  pyproject.toml
  src/sphinxawesome_theme/static/docsearch.649c86ff9e8a8c4a559e.css
  src/sphinxawesome_theme/static/docsearch.cbfd342d195607586196.css
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.20e34bf7b19644d1dc25.css
  src/sphinxawesome_theme/static/theme.9297a650d9dd3016d913.css
  src/theme-src/package.json
  src/theme-src/yarn.lock
  tests/test_basic.py
Due: black, flake8, isort, sync

fix: skip to content link (#1076)
  CHANGELOG.md
  poetry.lock
  pyproject.toml
  requirements.txt
  src/sphinxawesome_theme/skip.html
  src/sphinxawesome_theme/static/docsearch.649c86ff9e8a8c4a559e.css
  src/sphinxawesome_theme/static/docsearch.cbfd342d195607586196.css
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.0e75b4d1a85e3e87364c.css
  src/sphinxawesome_theme/static/theme.9297a650d9dd3016d913.css
  src/theme-src/package.json
  src/theme-src/yarn.lock
  tests/test_basic.py
Due: black, flake8, isort, sync

fix: remove z-index from code copy
  poetry.lock
  requirements.txt
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.0abf93c324bbdbe4c044.css
  src/sphinxawesome_theme/static/theme.9297a650d9dd3016d913.css
  src/theme-src/css/code.css
  src/theme-src/yarn.lock
Due: none

fix: remove z-index from code copy (#1077)
  poetry.lock
  requirements.txt
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.0abf93c324bbdbe4c044.css
  src/sphinxawesome_theme/static/theme.9297a650d9dd3016d913.css
  src/theme-src/css/code.css
  src/theme-src/yarn.lock
Due: none

fix: update packages
  poetry.lock
  pyproject.toml
  requirements.txt
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.3051a0ec24cad00d4d88.js
  src/sphinxawesome_theme/static/theme.38352cc99eda4418755e.js
  src/sphinxawesome_theme/static/theme.38352cc99eda4418755e.js.LICENSE.txt
  src/theme-src/yarn.lock
Due: sync

fix: no update importlib_meta
  pyproject.toml
Due: sync

fix: importlib version
  poetry.lock
  requirements.txt
Due: none

fix: update packages (#1084)
  poetry.lock
  requirements.txt
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.3051a0ec24cad00d4d88.js
  src/sphinxawesome_theme/static/theme.38352cc99eda4418755e.js
  src/sphinxawesome_theme/static/theme.38352cc99eda4418755e.js.LICENSE.txt
  src/theme-src/yarn.lock
Due: none

fix: update python packages
  poetry.lock
  requirements.txt
Due: none

fix: update javascript packages
  src/theme-src/yarn.lock
Due: none

fix: update packages (#1085)
  poetry.lock
  requirements.txt
  src/theme-src/yarn.lock
Due: none

chore: update Github actions
  .github/workflows/index.yml
  .github/workflows/lint-docs-true.yml
  .github/workflows/lint-true.yml
  .github/workflows/lint.yml
Due: none
