Repository kai687/sphinxawesome-theme: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, sync

black:
  name: black
  entry: poetry run black
  language: system

sync:
  name: sync requirements.txt
  entry: nox -s export
  pass_filenames: false
  language: system

chore: update python packages
  poetry.lock
  pyproject.toml
  requirements.txt
  src/sphinxawesome_theme/highlighting.py
Due: black, sync

autodoc styles
  src/sphinxawesome_theme/highlighting.py
  src/sphinxawesome_theme/html_translator.py
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.4e9d14edad4e062c9419.css
  src/theme-src/js/app.js
  src/theme-src/tailwind.config.js
Due: black

autodoc styles
  src/sphinxawesome_theme/static/0ffeb7a552b36437b54c.woff
  src/sphinxawesome_theme/static/42ba3027499c19034257.woff
  src/sphinxawesome_theme/static/44fd0da18fe361a5cc7f.woff
  src/sphinxawesome_theme/static/a49e53c029ef019e7422.woff2
  src/sphinxawesome_theme/static/c3b5f43fe4c8f3f1fa21.woff2
  src/sphinxawesome_theme/static/cfdd43ce3499ca7f900a.woff2
  src/sphinxawesome_theme/static/theme.ad6a5200dba13dcfd25e.css
Due: none

fix: re-implementing emhasizing placeholders in code blocks
  docs/demo/code-blocks.rst
  docs/how-to/add/includes/add-to-sphinx.rst
  src/sphinxawesome_theme/highlighting.py
  src/sphinxawesome_theme/postprocess.py
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.9026c27e490aaf433c3e.css
  src/sphinxawesome_theme/static/theme.ad6a5200dba13dcfd25e.css
  src/theme-src/css/code.css
  src/theme-src/css/highlighting.css
  src/theme-src/css/styles.css
  src/theme-src/tailwind.config.js
Due: black

fix: types
  src/sphinxawesome_theme/highlighting.py
Due: black

feat: make external links optional
  docs/conf.py
  docs/how-to/configure/includes/extension-options.rst
  src/sphinxawesome_theme/__init__.py
Due: black

fix: types for 3.8
  src/sphinxawesome_theme/highlighting.py
Due: black

fix: tests
  docs/demo/code-blocks.rst
  noxfile.py
  src/sphinxawesome_theme/icons.py
  tests/roots/test-external/conf.py
  tests/roots/test-external/index.rst
  tests/test_extensions.py
  tests/test_external_links.py
  tests/test_highlighting.py
Due: black

code header
  docs/conf.py
  src/sphinxawesome_theme/__init__.py
  src/sphinxawesome_theme/postprocess.py
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.0f7b03a3ec21470cac39.css
  src/sphinxawesome_theme/static/theme.9026c27e490aaf433c3e.css
  src/theme-src/css/code.css
Due: black

default is true
  docs/conf.py
Due: black

test
  tests/test_extensions.py
Due: black

document code block options
  docs/demo/code-blocks.rst
  docs/demo/inline-code.rst
  docs/how-to/configure/includes/extension-options.rst
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.0727561a7afe00242642.css
  src/sphinxawesome_theme/static/theme.0f7b03a3ec21470cac39.css
  src/theme-src/tailwind.config.js
Due: none

update docs
  CHANGELOG.md
  docs/about.rst
  docs/demo/includes/notes-admonitions.rst
  docs/demo/notes.rst
  docs/demo/sphinx-design.rst
  docs/index.rst
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.0727561a7afe00242642.css
  src/sphinxawesome_theme/static/theme.cf04e6cabac089d646d8.css
  src/theme-src/css/headerlinks.css
Due: none

fix: link
  docs/about.rst
Due: none

fix: typo
  docs/about.rst
Due: none

fix: spacing in caption
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.2cf58a0613620f8bdb03.css
  src/sphinxawesome_theme/static/theme.cf04e6cabac089d646d8.css
  src/theme-src/css/contents.css
Due: none

fix: disable builtin search when docsearch
  src/sphinxawesome_theme/__init__.py
Due: black

fix: move code do docsearch extension
  src/sphinxawesome_theme/__init__.py
  src/sphinxawesome_theme/docsearch.py
Due: black

chore: update Sphinx
  poetry.lock
Due: none

fix: disable builtin search when using DocSearch (#1294)
  poetry.lock
  src/sphinxawesome_theme/docsearch.py
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.2cf58a0613620f8bdb03.css
  src/sphinxawesome_theme/static/theme.cf04e6cabac089d646d8.css
  src/theme-src/css/contents.css
Due: black

fix: scroll to top
  src/sphinxawesome_theme/layout.html
  src/sphinxawesome_theme/scrolltop.html
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.2cf58a0613620f8bdb03.css
  src/sphinxawesome_theme/static/theme.39317e1d69980affb918.js
  src/sphinxawesome_theme/static/theme.3f7904046af57463645f.js
  src/sphinxawesome_theme/static/theme.3f7904046af57463645f.js.LICENSE.txt
  src/sphinxawesome_theme/static/theme.dccedccbe0ee5c0f60ae.css
  src/sphinxawesome_theme/with-sidebar.html
  src/theme-src/css/sidebar.css
  src/theme-src/css/transitions.css
  src/theme-src/js/controllers/scroll-controller.js
  src/theme-src/js/controllers/scroll-to-top-controller.js
Due: none

fix: back to top
  docs/conf.py
  src/sphinxawesome_theme/header.html
  src/sphinxawesome_theme/layout.html
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.3f7904046af57463645f.js
  src/sphinxawesome_theme/static/theme.4cc6ae3a36b05dd63410.js
  src/sphinxawesome_theme/static/theme.4cc6ae3a36b05dd63410.js.LICENSE.txt
  src/sphinxawesome_theme/with-sidebar.html
  src/sphinxawesome_theme/without-sidebar.html
  src/theme-src/js/controllers/scroll-to-top-controller.js
Due: black

fix: without sidebar
  docs/conf.py
  src/sphinxawesome_theme/without-sidebar.html
Due: black

fix: back to top behavior (#1295)
  src/sphinxawesome_theme/header.html
  src/sphinxawesome_theme/layout.html
  src/sphinxawesome_theme/scrolltop.html
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.2cf58a0613620f8bdb03.css
  src/sphinxawesome_theme/static/theme.39317e1d69980affb918.js
  src/sphinxawesome_theme/static/theme.4cc6ae3a36b05dd63410.js
  src/sphinxawesome_theme/static/theme.4cc6ae3a36b05dd63410.js.LICENSE.txt
  src/sphinxawesome_theme/static/theme.dccedccbe0ee5c0f60ae.css
  src/sphinxawesome_theme/with-sidebar.html
  src/sphinxawesome_theme/without-sidebar.html
  src/theme-src/css/sidebar.css
  src/theme-src/css/transitions.css
  src/theme-src/js/controllers/scroll-controller.js
  src/theme-src/js/controllers/scroll-to-top-controller.js
Due: none

fix: simplify controllers
  docs/how-to/configure/includes/docsearch.rst
  src/sphinxawesome_theme/layout.html
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.3b52b7ae5159da83c431.css
  src/sphinxawesome_theme/static/theme.4cc6ae3a36b05dd63410.js
  src/sphinxawesome_theme/static/theme.6bc23d4bd51edc1aa204.js
  src/sphinxawesome_theme/static/theme.6bc23d4bd51edc1aa204.js.LICENSE.txt
  src/sphinxawesome_theme/static/theme.dccedccbe0ee5c0f60ae.css
  src/sphinxawesome_theme/with-sidebar.html
  src/sphinxawesome_theme/without-sidebar.html
  src/theme-src/js/controllers/code-controller.js
  src/theme-src/js/controllers/scroll-controller.js
  src/theme-src/js/controllers/scroll-to-top-controller.js
Due: none

fix: simplify controllers (#1296)
  docs/how-to/configure/includes/docsearch.rst
  src/sphinxawesome_theme/layout.html
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.3b52b7ae5159da83c431.css
  src/sphinxawesome_theme/static/theme.4cc6ae3a36b05dd63410.js
  src/sphinxawesome_theme/static/theme.6bc23d4bd51edc1aa204.js
  src/sphinxawesome_theme/static/theme.6bc23d4bd51edc1aa204.js.LICENSE.txt
  src/sphinxawesome_theme/static/theme.dccedccbe0ee5c0f60ae.css
  src/sphinxawesome_theme/with-sidebar.html
  src/sphinxawesome_theme/without-sidebar.html
  src/theme-src/js/controllers/code-controller.js
  src/theme-src/js/controllers/scroll-controller.js
  src/theme-src/js/controllers/scroll-to-top-controller.js
Due: none

fix: scroll to top on mobile
  docs/how-to/configure/includes/docsearch.rst
  src/sphinxawesome_theme/layout.html
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.3b52b7ae5159da83c431.css
  src/sphinxawesome_theme/static/theme.4cc6ae3a36b05dd63410.js
  src/sphinxawesome_theme/static/theme.d8cb2a2fb850489a15d8.js
  src/sphinxawesome_theme/static/theme.d8cb2a2fb850489a15d8.js.LICENSE.txt
  src/sphinxawesome_theme/static/theme.dccedccbe0ee5c0f60ae.css
  src/sphinxawesome_theme/with-sidebar.html
  src/sphinxawesome_theme/without-sidebar.html
  src/theme-src/js/controllers/code-controller.js
  src/theme-src/js/controllers/scroll-controller.js
  src/theme-src/js/controllers/scroll-to-top-controller.js
Due: none

fix: scroll to top on mobile (#1297)
  src/sphinxawesome_theme/layout.html
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.d8cb2a2fb850489a15d8.js
  src/sphinxawesome_theme/static/theme.d8cb2a2fb850489a15d8.js.LICENSE.txt
  src/sphinxawesome_theme/with-sidebar.html
  src/sphinxawesome_theme/without-sidebar.html
  src/theme-src/js/controllers/scroll-to-top-controller.js
Due: none

chore: update python packages
  poetry.lock
Due: none

chore: update js packages
  src/theme-src/yarn.lock
Due: none

feat: use variables for colors
  src/sphinxawesome_theme/static/docsearch.53303c497cdefb581f6f.js
  src/sphinxawesome_theme/static/docsearch.53303c497cdefb581f6f.js.LICENSE.txt
  src/sphinxawesome_theme/static/docsearch.ab217ecb23493ff070ec.css
  src/sphinxawesome_theme/static/docsearch.f1a1a5835ed7a6ab0c85.js
  src/sphinxawesome_theme/static/docsearch.f1a1a5835ed7a6ab0c85.js.LICENSE.txt
  src/sphinxawesome_theme/static/docsearch.f30f8b0589fd2b6fd39c.css
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.3b52b7ae5159da83c431.css
  src/sphinxawesome_theme/static/theme.6bc23d4bd51edc1aa204.js
  src/sphinxawesome_theme/static/theme.c8991bd7bb6e57cbeea8.js
  src/sphinxawesome_theme/static/theme.c8991bd7bb6e57cbeea8.js.LICENSE.txt
  src/sphinxawesome_theme/static/theme.c973b470ab69573097f3.css
  src/sphinxawesome_theme/static/theme.d8cb2a2fb850489a15d8.js
  src/sphinxawesome_theme/static/theme.d8cb2a2fb850489a15d8.js.LICENSE.txt
  src/theme-src/tailwind.config.js
Due: none

feat: use Tailwind's variables (#1298)
  poetry.lock
  src/sphinxawesome_theme/static/docsearch.53303c497cdefb581f6f.js
  src/sphinxawesome_theme/static/docsearch.53303c497cdefb581f6f.js.LICENSE.txt
  src/sphinxawesome_theme/static/docsearch.ab217ecb23493ff070ec.css
  src/sphinxawesome_theme/static/docsearch.f1a1a5835ed7a6ab0c85.js
  src/sphinxawesome_theme/static/docsearch.f1a1a5835ed7a6ab0c85.js.LICENSE.txt
  src/sphinxawesome_theme/static/docsearch.f30f8b0589fd2b6fd39c.css
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.3b52b7ae5159da83c431.css
  src/sphinxawesome_theme/static/theme.6bc23d4bd51edc1aa204.js
  src/sphinxawesome_theme/static/theme.c8991bd7bb6e57cbeea8.js
  src/sphinxawesome_theme/static/theme.c8991bd7bb6e57cbeea8.js.LICENSE.txt
  src/sphinxawesome_theme/static/theme.c973b470ab69573097f3.css
  src/sphinxawesome_theme/static/theme.d8cb2a2fb850489a15d8.js
  src/sphinxawesome_theme/static/theme.d8cb2a2fb850489a15d8.js.LICENSE.txt
  src/theme-src/tailwind.config.js
  src/theme-src/yarn.lock
Due: none

feat: basic dark mode
  src/sphinxawesome_theme/header.html
  src/sphinxawesome_theme/layout.html
  src/sphinxawesome_theme/sidebar.html
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.11adb49f1efdb0de1cbe.css
  src/sphinxawesome_theme/static/theme.c973b470ab69573097f3.css
  src/sphinxawesome_theme/theme.conf
  src/sphinxawesome_theme/with-sidebar.html
  src/theme-src/css/code.css
  src/theme-src/css/variables.css
  src/theme-src/tailwind.config.js
Due: none

em property not placeholder
  src/theme-src/tailwind.config.js
Due: none

requirements
  requirements.txt
Due: none

fix: dark css with media query
  src/sphinxawesome_theme/__init__.py
  src/sphinxawesome_theme/docsearch.py
  src/sphinxawesome_theme/jinja_functions.py
  src/sphinxawesome_theme/layout.html
Due: black

fix: tests
  tests/test_extensions.py
  tests/test_highlighting.py
Due: black

fix: code with links
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.11adb49f1efdb0de1cbe.css
  src/sphinxawesome_theme/static/theme.6018ebf643929cd6f9cc.css
  src/theme-src/tailwind.config.js
Due: none

more styles
  src/sphinxawesome_theme/breadcrumbs.html
  src/sphinxawesome_theme/static/awesome-sphinx-design.04e01e4f8550b2b16196.css
  src/sphinxawesome_theme/static/awesome-sphinx-design.4ff695238f641b0a2852.css
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.6018ebf643929cd6f9cc.css
  src/sphinxawesome_theme/static/theme.c50466b60decdfaadb35.css
  src/theme-src/css/admonitions.css
  src/theme-src/css/code.css
  src/theme-src/css/contents.css
  src/theme-src/css/sidebar.css
  src/theme-src/css/sphinx-design.css
  src/theme-src/tailwind.config.js
Due: none

Path conditions:
  black: any of: \.py$
  sync: any of: pyproject\.toml
