Repository kai687/sphinxawesome-theme: changes, and which pre-commit hooks are due for each by the changed paths.
All: formatting, sync

formatting:
  name: format code
  entry: nox -s fmt
  pass_filenames: false
  language: system

sync:
  name: sync requirements.txt
  entry: nox -s export
  pass_filenames: false
  language: system

feat: remove theme switcher
  .gitignore
  src/sphinxawesome_theme/header.html
  src/sphinxawesome_theme/layout.html
Due: none

fix: precommit config
  .pre-commit-config.yaml
Due: none

fix: precommmmit config
  .pre-commit-config.yaml
Due: none

Delete netlify redirects file
  docs/_redirects
  docs/conf.py
Due: formatting

docs: replace poetry with uv in commands
  docs/how-to/build-your-own/includes/install-python-dependencies.rst
  docs/how-to/build-your-own/includes/prepare-python-environment.rst
Due: none

fix: add nox as dependency
  noxfile.py
  pyproject.toml
  requirements.txt
  uv.lock
Due: formatting, sync

restore redirect files
  docs/_redirects
  docs/conf.py
Due: formatting

Uv is also needed for nox
  pyproject.toml
  requirements.txt
  uv.lock
Due: sync

Dont autoformat this
  src/sphinxawesome_theme/layout.html
Due: none

Update pnpm dependencies
  src/theme-src/package.json
  src/theme-src/pnpm-lock.yaml
Due: none

fix: toc height for auto api
  src/sphinxawesome_theme/toc.html
Due: none

I dont think I ever really applied semantic versioning
  docs/about.rst
  noxfile.py
  src/sphinxawesome_theme/sidebar.html
Due: formatting

Should not be a button
  docs/_static/feedback.css
  docs/_templates/feedback.html
Due: none

Prevent empty JS files from webpack
  src/sphinxawesome_theme/static/awesome-docsearch.js
  src/sphinxawesome_theme/static/awesome-sphinx-design.js
  src/sphinxawesome_theme/static/theme.css
  src/theme-src/css/content.css
  src/theme-src/js/search.js
  src/theme-src/package.json
  src/theme-src/pnpm-lock.yaml
  src/theme-src/webpack.config.js
Due: none

fix: make api doc look a tiny bit nicer
  src/sphinxawesome_theme/static/theme.css
  src/theme-src/css/code.css
  src/theme-src/pnpm-lock.yaml
Due: none

fix: use esbuild loader
  src/sphinxawesome_theme/static/theme.js
  src/sphinxawesome_theme/static/theme.js.LICENSE.txt
  src/theme-src/package.json
  src/theme-src/pnpm-lock.yaml
  src/theme-src/webpack.config.js
Due: none

link to better themes in about
  docs/about.rst
Due: none

Remove unused code
  docs/demo/code-blocks.rst
  pyproject.toml
  src/sphinxawesome_theme/__init__.py
Due: formatting, sync

Remove unneeded dependencies
  src/theme-src/pnpm-lock.yaml
  src/theme-src/postcss.config.js
Due: none

I never used development mode anyway
  src/sphinxawesome_theme/static/theme.js
  src/sphinxawesome_theme/static/theme.js.LICENSE.txt
  src/theme-src/package.json
  src/theme-src/webpack.config.js
Due: none

Update docs
  docs/changelog/includes/6.0.rst
  docs/changelog/index.rst
Due: none

Add release action
  .github/workflows/ci.yml
Due: none

pnpm update
  src/theme-src/pnpm-lock.yaml
Due: none

Update README.md
  README.md
Due: none

fix: gh release action needs repo
  .github/workflows/ci.yml
Due: none

Use trusted publishing for PyPI
  .github/workflows/ci.yml
Due: none

LinkIcon dropdown open by default
  docs/how-to/configure/includes/theme-options.rst
Due: none

Requirements.txt updates should come from pyproject only
  .github/dependabot.yml
  noxfile.py
  pyproject.toml
  requirements.txt
  uv.lock
Due: formatting, sync

Remove unused config entry
  src/theme-src/pnpm-lock.yaml
  src/theme-src/tailwind.config.js
Due: none

fix: remove important from highlight background
  docs/conf.py
  requirements.txt
  src/sphinxawesome_theme/static/theme.css
  src/theme-src/css/code.css
  src/theme-src/package.json
  src/theme-src/pnpm-lock.yaml
  uv.lock
Due: formatting

Add myst-nb css customization
  .gitignore
  docs/_static/feedback.css
  docs/conf.py
  docs/demo/myst-nb.md
  pyproject.toml
  requirements.txt
  src/sphinxawesome_theme/__init__.py
  src/sphinxawesome_theme/static/awesome-myst-nb.css
  src/theme-src/css/myst-nb.css
  src/theme-src/package.json
  src/theme-src/webpack.config.js
  tests/test_basic.py
  uv.lock
Due: formatting, sync

Update test
  tests/test_extensions.py
Due: formatting

fix: remove important from highlight background (#2082)
  .gitignore
  docs/_static/feedback.css
  docs/conf.py
  docs/demo/myst-nb.md
  pyproject.toml
  requirements.txt
  src/sphinxawesome_theme/__init__.py
  src/sphinxawesome_theme/static/awesome-myst-nb.css
  src/sphinxawesome_theme/static/theme.css
  src/theme-src/css/code.css
  src/theme-src/css/myst-nb.css
  src/theme-src/package.json
  src/theme-src/pnpm-lock.yaml
  src/theme-src/webpack.config.js
  tests/test_basic.py
  tests/test_extensions.py
  uv.lock
Due: formatting, sync

Remove unused style definitions
  src/sphinxawesome_theme/header.html
  src/sphinxawesome_theme/layout.html
  src/sphinxawesome_theme/sidebar.html
  src/sphinxawesome_theme/static/theme.css
  src/sphinxawesome_theme/static/theme.js
  src/theme-src/css/styles.css
  src/theme-src/tailwind.config.js
Due: none

Remove unused dark mode logic
  src/sphinxawesome_theme/layout.html
  src/sphinxawesome_theme/static/theme.css
  src/theme-src/css/styles.css
  src/theme-src/tailwind.config.js
Due: none

Simplify layout template
  src/sphinxawesome_theme/layout.html
Due: none

Forgot to delete one
  src/sphinxawesome_theme/sidebar.html
Due: none

Even more unused definitions
  src/sphinxawesome_theme/static/theme.css
  src/sphinxawesome_theme/static/theme.js
  src/theme-src/css/styles.css
  src/theme-src/package.json
  src/theme-src/pnpm-lock.yaml
  src/theme-src/tailwind.config.js
Due: none

Unused eslint options
  src/theme-src/.eslintrc.js
Due: none

Path conditions:
  formatting: any of: \.py$
  sync: any of: pyproject\.toml
