Repository kai687/sphinxawesome-theme: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, sync

.pre-commit-config.yaml:

repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: trailing-whitespace
      - id: no-commit-to-branch
  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: sync
        name: sync requirements.txt
        entry: nox -s export
        pass_filenames: false
        language: system
        files: 'pyproject\.toml'
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.0.0-alpha.6"
    hooks:
      - id: prettier
        types: [javascript]
        files: "src/theme-src/"
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.254"
    hooks:
      - id: ruff

footer and scroll to top bug
  src/sphinxawesome_theme/footer.html
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.5f2249f7f1deaedcc677.css
  src/sphinxawesome_theme/static/theme.c50466b60decdfaadb35.css
  src/sphinxawesome_theme/static/theme.c8991bd7bb6e57cbeea8.js
  src/sphinxawesome_theme/static/theme.d8cb2a2fb850489a15d8.js
  src/sphinxawesome_theme/static/theme.d8cb2a2fb850489a15d8.js.LICENSE.txt
  src/theme-src/css/admonitions.css
  src/theme-src/js/controllers/scroll-to-top-controller.js
  src/theme-src/tailwind.config.js
Due: none

add back code background
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.141646cfa07c0fb4e57e.css
  src/sphinxawesome_theme/static/theme.5f2249f7f1deaedcc677.css
  src/theme-src/css/code.css
Due: none

chore: update packages
  poetry.lock
  src/theme-src/yarn.lock
Due: none

chore: add prettier
  src/theme-src/.eslintrc.js
  src/theme-src/js/app.js
  src/theme-src/package.json
  src/theme-src/prettier.config.js
  src/theme-src/tailwind.config.js
  src/theme-src/yarn.lock
Due: none

feat: no more roboto
  src/sphinxawesome_theme/static/3a43b67e5bbdfb3ab0a6.woff2
  src/sphinxawesome_theme/static/48af7707fe9e6494d6a5.woff
  src/sphinxawesome_theme/static/9ac5da2442b734abc516.woff
  src/sphinxawesome_theme/static/b009a76ad6afe4ebd301.woff2
  src/sphinxawesome_theme/static/d037cb4792991826de7d.woff
  src/sphinxawesome_theme/static/docsearch.e96c1f5e2fad86c95405.css
  src/sphinxawesome_theme/static/e10742dbb1d4a0864ba8.woff2
  src/sphinxawesome_theme/static/f1e2a76794cb86b2aa8e.woff
  src/sphinxawesome_theme/static/f25d774ecfe0996f8eb5.woff2
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.637b2427c50ffd256678.css
  src/sphinxawesome_theme/static/theme.c973b470ab69573097f3.css
  src/theme-src/.eslintrc.js
  src/theme-src/package.json
  src/theme-src/webpack.config.js
  src/theme-src/yarn.lock
Due: none

feat: single layout file
  noxfile.py
  src/sphinxawesome_theme/layout.html
  src/sphinxawesome_theme/page.html
  src/sphinxawesome_theme/with-sidebar.html
  src/sphinxawesome_theme/without-sidebar.html
  src/theme-src/package.json
  src/theme-src/webpack.config.js
  src/theme-src/yarn.lock
Due: black

feat: redesign
  noxfile.py
  src/sphinxawesome_theme/header.html
  src/sphinxawesome_theme/page.html
  src/sphinxawesome_theme/postprocess.py
  src/sphinxawesome_theme/search.html
  src/sphinxawesome_theme/searchbox.html
  src/sphinxawesome_theme/sidebar.html
  src/sphinxawesome_theme/skip.html
  src/sphinxawesome_theme/static/docsearch.747e06d877e8e1c7adc3.css
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.637b2427c50ffd256678.css
  src/sphinxawesome_theme/static/theme.b422ba2bc02141f53343.css
  src/sphinxawesome_theme/theme.conf
  src/theme-src/css/admonitions.css
  src/theme-src/css/code.css
  src/theme-src/css/contents.css
  src/theme-src/css/docsearch.css
  src/theme-src/css/headerlinks.css
  src/theme-src/css/layout.css
  src/theme-src/css/sidebar.css
  src/theme-src/css/styles.css
  src/theme-src/css/tooltips.css
  src/theme-src/css/transitions.css
  src/theme-src/css/variables.css
  src/theme-src/tailwind.config.js
Due: black

update packages
  poetry.lock
  requirements.txt
  src/sphinxawesome_theme/__init__.py
Due: black

dark mode updates
  docs/conf.py
  src/sphinxawesome_theme/footer.html
  src/sphinxawesome_theme/header.html
  src/sphinxawesome_theme/page.html
  src/sphinxawesome_theme/prev_next.html
  src/sphinxawesome_theme/searchbox.html
  src/sphinxawesome_theme/sidebar.html
  src/sphinxawesome_theme/static/awesome-sphinx-design.1f259faef3ea411b3ab5.css
  src/sphinxawesome_theme/static/awesome-sphinx-design.f3507627e0af8330cfa7.css
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.5635ab6f918547147d51.css
  src/sphinxawesome_theme/static/theme.71f05b480dfcb383e901.css
  src/theme-src/css/admonitions.css
  src/theme-src/css/code.css
  src/theme-src/css/content.css
  src/theme-src/css/sphinx-design.css
Due: black

basic redesign done
  docs/conf.py
  src/sphinxawesome_theme/header.html
  src/sphinxawesome_theme/layout.html
  src/sphinxawesome_theme/searchbox.html
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.13de87b3956d623c2773.js
  src/sphinxawesome_theme/static/theme.71f05b480dfcb383e901.css
  src/sphinxawesome_theme/static/theme.883edc42ae8de3afcfb8.css
  src/sphinxawesome_theme/static/theme.c8991bd7bb6e57cbeea8.js
  src/sphinxawesome_theme/static/theme.c8991bd7bb6e57cbeea8.js.LICENSE.txt
  src/theme-src/css/code.css
  src/theme-src/css/content.css
  src/theme-src/js/app.js
  src/theme-src/js/controllers/clipboard-controller.js
  src/theme-src/js/controllers/code-controller.js
  src/theme-src/js/controllers/collapsible-controller.js
  src/theme-src/js/controllers/scroll-controller.js
  src/theme-src/js/controllers/scroll-to-top-controller.js
  src/theme-src/js/controllers/search-controller.js
  src/theme-src/js/controllers/sidebar-controller.js
  src/theme-src/package.json
  src/theme-src/tailwind.config.js
  src/theme-src/yarn.lock
Due: black

update requirements
  requirements.txt
Due: none

code copy button
  docs/_static/feedback.css
  docs/_templates/feedback.html
  docs/_templates/page.html
  docs/conf.py
  src/sphinxawesome_theme/layout.html
  src/sphinxawesome_theme/search.html
  src/sphinxawesome_theme/searchbox.html
  src/sphinxawesome_theme/static/docsearch.0a12f6a71ac4aec386e9.css
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.13de87b3956d623c2773.js
  src/sphinxawesome_theme/static/theme.883edc42ae8de3afcfb8.css
  src/sphinxawesome_theme/static/theme.9e506e2e033a74646635.js
  src/sphinxawesome_theme/static/theme.9e506e2e033a74646635.js.LICENSE.txt
  src/sphinxawesome_theme/static/theme.c6d82b5f50d63ca74628.css
  src/sphinxawesome_theme/toc.html
  src/theme-src/css/code.css
  src/theme-src/css/content.css
  src/theme-src/css/docsearch.css
  src/theme-src/css/search.css
  src/theme-src/css/styles.css
  src/theme-src/js/app.js
  src/theme-src/js/code.js
  tests/test_canonical.py
  tests/test_extensions.py
  tests/test_external_links.py
Due: black

more styling
  constraints.txt
  docs/conf.py
  src/sphinxawesome_theme/header.html
  src/sphinxawesome_theme/postprocess.py
  src/sphinxawesome_theme/prev_next.html
  src/sphinxawesome_theme/static/docsearch.65e2a669734674c174f5.css
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.4c63c041f6e39017c9df.css
  src/sphinxawesome_theme/static/theme.8dcbe1b5990ea68a63ad.js
  src/sphinxawesome_theme/static/theme.8dcbe1b5990ea68a63ad.js.LICENSE.txt
  src/sphinxawesome_theme/static/theme.9e506e2e033a74646635.js
  src/sphinxawesome_theme/static/theme.c6d82b5f50d63ca74628.css
  src/theme-src/css/docsearch.css
  src/theme-src/css/search.css
  src/theme-src/css/sidebar.css
  src/theme-src/css/toc.css
  src/theme-src/js/app.js
  src/theme-src/js/code.js
Due: black

external link icons
  docs/conf.py
  src/sphinxawesome_theme/icons.py
  src/sphinxawesome_theme/postprocess.py
Due: black

docsearch tweaks
  src/sphinxawesome_theme/static/docsearch.6bf6e300e4da31eb9baf.css
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.4c63c041f6e39017c9df.css
  src/sphinxawesome_theme/static/theme.6cff4b84bf52f51b8f52.css
  src/sphinxawesome_theme/static/theme.8dcbe1b5990ea68a63ad.js
  src/sphinxawesome_theme/static/theme.fbc9e551efe643774078.js
  src/sphinxawesome_theme/static/theme.fbc9e551efe643774078.js.LICENSE.txt
  src/theme-src/css/docsearch.css
  src/theme-src/js/code.js
Due: none

docsearch styles complete
  poetry.lock
  src/sphinxawesome_theme/static/docsearch.fd1fe02c1e9bbe66eea6.css
  src/sphinxawesome_theme/static/manifest.json
  src/theme-src/css/docsearch.css
  src/theme-src/yarn.lock
Due: none

sidebar!
  src/sphinxawesome_theme/header.html
  src/sphinxawesome_theme/layout.html
  src/sphinxawesome_theme/sidebar.html
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.31fb951f31ddd06a5bc6.css
  src/sphinxawesome_theme/static/theme.6cff4b84bf52f51b8f52.css
Due: none

transition to dark theme
  src/sphinxawesome_theme/sidebar.html
Due: none

somewhat scrollspy
  src/sphinxawesome_theme/layout.html
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.139a7b92e5568fb7e1ee.js
  src/sphinxawesome_theme/static/theme.139a7b92e5568fb7e1ee.js.LICENSE.txt
  src/sphinxawesome_theme/static/theme.31fb951f31ddd06a5bc6.css
  src/sphinxawesome_theme/static/theme.ba1bb60cec8a30d9b93c.css
  src/sphinxawesome_theme/static/theme.fbc9e551efe643774078.js
  src/theme-src/css/toc.css
  src/theme-src/js/app.js
  src/theme-src/js/scrollspy.js
Due: none

collapsible nav
  docs/index.rst
  src/sphinxawesome_theme/icons.py
  src/sphinxawesome_theme/postprocess.py
  src/sphinxawesome_theme/sidebar.html
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.12a1301a087442c35256.css
  src/sphinxawesome_theme/static/theme.ba1bb60cec8a30d9b93c.css
  src/theme-src/css/sidebar.css
  src/theme-src/yarn.lock
Due: black

extra links in mobile sidebar
  noxfile.py
  poetry.lock
  src/sphinxawesome_theme/sidebar.html
  src/sphinxawesome_theme/static/docsearch.445222223e83896718c6.css
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.12a1301a087442c35256.css
  src/sphinxawesome_theme/static/theme.139a7b92e5568fb7e1ee.js
  src/sphinxawesome_theme/static/theme.c236601615c64cf79340.css
  src/sphinxawesome_theme/static/theme.eee38a3e9a665941c9cb.js
  src/sphinxawesome_theme/static/theme.eee38a3e9a665941c9cb.js.LICENSE.txt
  src/theme-src/css/docsearch.css
  src/theme-src/js/scrollspy.js
Due: black

update dependencies
  poetry.lock
  requirements.txt
  src/theme-src/yarn.lock
Due: none

toc excludes h1
  src/sphinxawesome_theme/__init__.py
  src/sphinxawesome_theme/page.html
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.4f87b99eed47560532d0.css
  src/sphinxawesome_theme/static/theme.c236601615c64cf79340.css
  src/sphinxawesome_theme/toc.py
  src/theme-src/css/admonitions.css
Due: black

mypy
  pyproject.toml
  src/sphinxawesome_theme/toc.py
Due: black, sync

scrollspy and sidebar
  docs/conf.py
  src/sphinxawesome_theme/layout.html
  src/sphinxawesome_theme/postprocess.py
  src/sphinxawesome_theme/sidebar.html
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.4f87b99eed47560532d0.css
  src/sphinxawesome_theme/static/theme.8e3c23cd3455b167ea15.js
  src/sphinxawesome_theme/static/theme.8e3c23cd3455b167ea15.js.LICENSE.txt
  src/sphinxawesome_theme/static/theme.cd4e5e77b3c77979ac32.css
  src/sphinxawesome_theme/static/theme.eee38a3e9a665941c9cb.js
  src/theme-src/css/admonitions.css
  src/theme-src/css/code.css
  src/theme-src/css/styles.css
  src/theme-src/css/tooltips.css
  src/theme-src/js/app.js
  src/theme-src/js/code.js
  src/theme-src/js/scrollspy.js
  src/theme-src/package.json
  src/theme-src/yarn.lock
Due: black

not sure about this one
  src/sphinxawesome_theme/layout.html
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.cd4e5e77b3c77979ac32.css
  src/sphinxawesome_theme/static/theme.e8323fa3985990c92c7f.css
  src/theme-src/yarn.lock
Due: none

stop flickering and unset darkmode issue
  src/sphinxawesome_theme/layout.html
  src/sphinxawesome_theme/postprocess.py
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.8e3c23cd3455b167ea15.js
  src/sphinxawesome_theme/static/theme.ad172c0f1249198ea036.js
  src/sphinxawesome_theme/static/theme.ad172c0f1249198ea036.js.LICENSE.txt
  src/sphinxawesome_theme/static/theme.ae1d27dc811c0d3426ee.css
  src/sphinxawesome_theme/static/theme.e8323fa3985990c92c7f.css
  src/theme-src/css/headerlinks.css
  src/theme-src/css/styles.css
  src/theme-src/css/tooltips.css
  src/theme-src/js/code.js
  src/theme-src/js/search.js
  src/theme-src/postcss.config.js
  src/theme-src/stylelint.config.js
Due: black

breadcrumbs
  src/sphinxawesome_theme/breadcrumbs.html
  src/sphinxawesome_theme/prev_next.html
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.8acd07a6ea405a1da17b.css
  src/sphinxawesome_theme/static/theme.ae1d27dc811c0d3426ee.css
  src/theme-src/yarn.lock
Due: none

builtin search highlighting
  docs/_static/feedback.js
  docs/conf.py
  src/sphinxawesome_theme/jinja_functions.py
  src/sphinxawesome_theme/layout.html
  src/sphinxawesome_theme/postprocess.py
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.82df1227159650a8f4d1.css
  src/sphinxawesome_theme/static/theme.8acd07a6ea405a1da17b.css
  src/theme-src/css/search.css
  src/theme-src/css/sidebar.css
Due: black

chore: tag the version
  pyproject.toml
  src/theme-src/package.json
Due: sync

no more nox-poetry
  .github/workflows/lint-docs.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  constraints.txt
Due: none

simplify noxfile
  noxfile.py
  poetry.lock
  pyproject.toml
  requirements.txt
Due: black, sync

no useless linkcheck_ignore
  docs/conf.py
Due: black

more modern type annotations
  src/sphinxawesome_theme/__init__.py
  src/sphinxawesome_theme/docsearch.py
  src/sphinxawesome_theme/highlighting.py
  src/sphinxawesome_theme/html_translator.py
  src/sphinxawesome_theme/jinja_functions.py
  src/sphinxawesome_theme/jsonimpl.py
  src/sphinxawesome_theme/postprocess.py
Due: black

djlint formatting
  src/sphinxawesome_theme/breadcrumbs.html
  src/sphinxawesome_theme/footer.html
  src/sphinxawesome_theme/header.html
  src/sphinxawesome_theme/layout.html
  src/sphinxawesome_theme/menu.html
  src/sphinxawesome_theme/modals.html
  src/sphinxawesome_theme/page.html
  src/sphinxawesome_theme/prev_next.html
  src/sphinxawesome_theme/scrolltop.html
  src/sphinxawesome_theme/search.html
  src/sphinxawesome_theme/searchbox.html
  src/sphinxawesome_theme/sidebar.html
  src/sphinxawesome_theme/toc.html
Due: none

boolean
  src/sphinxawesome_theme/header.html
Due: none

theme options config object
  docs/conf.py
  src/sphinxawesome_theme/__init__.py
Due: black

padding on small screens
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.4813fb66f9ba0abe6df6.css
  src/sphinxawesome_theme/static/theme.82df1227159650a8f4d1.css
  src/theme-src/css/styles.css
  src/theme-src/tailwind.config.js
  src/theme-src/yarn.lock
Due: none

update tests
  tests/test_basic.py
  tests/test_canonical.py
  tests/test_extensions.py
  tests/test_external_links.py
Due: black
