Repository kai687/sphinxawesome-theme: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, sync

.pre-commit-config.yaml:

---
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 40cc31b02ceb72045509576e51d9c82503751422
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: trailing-whitespace
      - id: no-commit-to-branch
  - repo: https://github.com/asottile/pyupgrade
    rev: d71f806ce2fa0799c8dbe8cdcba7f9d5af2fd167
    hooks:
      - id: pyupgrade
        args: [--py36-plus]
  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
      - id: sync
        name: sync requirements.txt
        entry: nox -s export
        pass_filenames: false
        language: system
        files: 'pyproject\.toml'
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v2.5.1'
    hooks:
      - id: prettier
        types: [javascript]
        files: "src/theme-src/"

docs: update figures
  docs/demo/figures.rst
Due: none

docs: update footnotes
  docs/demo/footnotes.rst
Due: none

docs: update inline code
  docs/demo/inline-code.rst
Due: none

docs: update lists
  docs/demo/lists.rst
Due: none

docs: update notes
  docs/demo/notes.rst
Due: none

docs: update notes
  docs/demo/text.rst
Due: none

docs: update about
  docs/about.md
Due: none

chore: vale
  .vale/styles/Awesome/ignore/allow.txt
  docs/how-to/options.md
Due: none

docs: update (#1055)
  .vale/styles/Awesome/ignore/allow.txt
  docs/about.md
  docs/conf.py
  docs/demo/auto.rst
  docs/demo/code-blocks.rst
  docs/demo/contents.rst
  docs/demo/figures.rst
  docs/demo/footnotes.rst
  docs/demo/inline-code.rst
  docs/demo/lists.rst
  docs/demo/notes.rst
  docs/demo/text.rst
  docs/how-to/customize.md
  docs/how-to/install.md
  docs/how-to/modify.md
  docs/how-to/options.md
  docs/how-to/use.md
  docs/index.md
  pyproject.toml
Due: black, flake8, isort, sync

feat: reset testing
  .pre-commit-config.yaml
  tests/roots/test-code/conf.py
  tests/roots/test-code/index.rst
  tests/roots/test-collapsible/conf.py
  tests/roots/test-collapsible/index.rst
  tests/roots/test-copyright/conf.py
  tests/roots/test-copyright/index.rst
  tests/roots/test-external-links/conf.py
  tests/roots/test-external-links/index.rst
  tests/roots/test-figure/conf.py
  tests/roots/test-figure/image.svg
  tests/roots/test-figure/index.rst
  tests/roots/test-headerlinks/conf.py
  tests/roots/test-headerlinks/index.rst
  tests/roots/test-ids/conf.py
  tests/roots/test-ids/index.rst
  tests/roots/test-options/another.rst
  tests/roots/test-options/conf.py
  tests/roots/test-options/index.rst
  tests/roots/test-root/index.rst
  tests/roots/test-table/conf.py
  tests/roots/test-table/index.rst
  tests/roots/test-toctree/conf.py
  tests/roots/test-toctree/index.rst
  tests/roots/test-toctree/test1.rst
  tests/roots/test-toctree/test2.rst
  tests/test_admonition_ids.py
  tests/test_basic.py
  tests/test_codeblocks.py
  tests/test_collapsible.py
  tests/test_copyright.py
  tests/test_external_links.py
  tests/test_headerlinks.py
  tests/test_icons.py
  tests/test_permalinks.py
  tests/test_postprocess.py
  tests/test_theme_options.py
Due: black, flake8, isort

chore: update packages
  .github/workflows/constraints.txt
  poetry.lock
  src/theme-src/package.json
Due: none

tests: basic
  noxfile.py
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/test_basic.py
Due: black, flake8, isort, sync

chore: better actions
  .github/workflows/constraints.txt
  .github/workflows/linkcheck.yml
  .github/workflows/lint-docs.yml
  .github/workflows/lint.yml
Due: none

tests: no randomly
  noxfile.py
Due: black, flake8, isort

fix: lint action
  .github/workflows/lint.yml
Due: none

fix: typo
  .github/workflows/lint.yml
Due: none

chore: rm unused package
  noxfile.py
Due: black, flake8, isort

feat: reactivate test action
  noxfile.py
Due: black, flake8, isort

feat: live docs open browser
  noxfile.py
Due: black, flake8, isort

chore: mv constraints.txt to top
  constraints.txt
Due: none

chore: update actions
  .github/workflows/lint-docs.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
Due: none

docs: extend install instructions for pipx
  .vale/styles/Awesome/ignore/allow.txt
  docs/how-to/install.md
Due: none

docs: vale
  docs/demo/inline-code.rst
  docs/demo/text.rst
Due: none

chore: add pipx to constraints
  constraints.txt
Due: none

chore: spelling in gh action files
  .github/workflows/lint-docs.yml
  .github/workflows/lint.yml
Due: none

chore: actions
  .github/workflows/lint-docs.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
Due: none

docs: open source
  README.md
Due: none

chore: linkcheck
  docs/conf.py
  docs/how-to/install.md
Due: black, flake8, isort

fix: z-index issue
  src/sphinxawesome_theme/searchbox.html
Due: none

fix: z-index issue (#1057)
  src/sphinxawesome_theme/searchbox.html
Due: none

chore: test extension loading
  tests/roots/test-root/index.rst
  tests/test_basic.py
  tests/test_extensions.py
Due: black, flake8, isort

fix: conditionally load DocSearch extension
  src/sphinxawesome_theme/__init__.py
Due: black, flake8, isort

fix: better DocSearch extension loading
  docs/demo/auto.rst
  docs/demo/code-blocks.rst
  docs/how-to/using.md
  src/sphinxawesome_theme/docsearch.py
  src/theme-src/js/controllers/scroll-controller.js
  src/theme-src/js/controllers/sidebar-controller.js
  src/theme-src/webpack.config.js
  tests/test_extensions.py
Due: black, flake8, isort

fix: mypy
  tests/test_basic.py
  tests/test_extensions.py
Due: black, flake8, isort

fix: docsearch on mobile
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.0fb7a1e735b10446dead.css
  src/sphinxawesome_theme/static/theme.f7c1fb8d5d75b820563a.css
  src/theme-src/css/docsearch.css
  src/theme-src/yarn.lock
Due: none

chore: update CHANGELOG
  CHANGELOG.md
Due: none

fix: docsearch on mobile (#1064)
  CHANGELOG.md
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.0fb7a1e735b10446dead.css
  src/sphinxawesome_theme/static/theme.f7c1fb8d5d75b820563a.css
  src/theme-src/css/docsearch.css
  src/theme-src/yarn.lock
Due: none

fix: make header sticky again
  src/sphinxawesome_theme/layout.html
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.0fb7a1e735b10446dead.css
  src/sphinxawesome_theme/static/theme.92cc26ff5a6445443197.css
  src/theme-src/js/docsearch_config.js_t
Due: none

fix: no h-screen
  src/sphinxawesome_theme/layout.html
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.6c13617931033406bd29.css
  src/sphinxawesome_theme/static/theme.92cc26ff5a6445443197.css
Due: none
