Repository kai687/sphinxawesome-theme: changes, and which pre-commit hooks are due for each by the changed paths.
All: formatting, sync

formatting:
  name: format code
  entry: nox -s fmt
  pass_filenames: false
  language: system

sync:
  name: sync requirements.txt
  entry: nox -s export
  pass_filenames: false
  language: system

chore: xfail on broken tests
  tests/test_deprecated.py
Due: formatting

chore: add support for latest Sphinx (#1850)
  docs/readthedocs.txt
  poetry.lock
  pyproject.toml
  requirements.txt
  src/sphinxawesome_theme/static/theme.js
  src/theme-src/package.json
  src/theme-src/pnpm-lock.yaml
  tests/test_basic.py
  tests/test_deprecated.py
Due: formatting, sync

chore: crawler action
  .github/workflows/index.yml
Due: none

docs: selecting color schemes
  docs/how-to/customize/index.rst
  docs/how-to/customize/syntax-highlighting.rst
Due: none

docs: demonstrate the bug
  docs/demo/code-blocks.rst
Due: none

fix: failing test
  tests/roots/test-highlighting/index.rst
  tests/test_highlighting.py
Due: formatting

fix: pass extra_args to code blocks with captions correctly
  src/sphinxawesome_theme/highlighting.py
Due: formatting

fix: all options in demo
  docs/demo/code-blocks.rst
Due: none

fix: refactor
  src/sphinxawesome_theme/highlighting.py
Due: formatting

fix: types
  src/sphinxawesome_theme/highlighting.py
Due: formatting

fix: bump version
  docs/readthedocs.txt
  poetry.lock
  pyproject.toml
  requirements.txt
  src/theme-src/package.json
  src/theme-src/pnpm-lock.yaml
  tests/test_basic.py
Due: formatting, sync

fix: type
  src/sphinxawesome_theme/highlighting.py
Due: formatting

fix: apply line highlighting to code blocks with caption (#1852)
  docs/demo/code-blocks.rst
  docs/readthedocs.txt
  poetry.lock
  pyproject.toml
  requirements.txt
  src/sphinxawesome_theme/highlighting.py
  src/theme-src/package.json
  src/theme-src/pnpm-lock.yaml
  tests/roots/test-highlighting/index.rst
  tests/test_basic.py
  tests/test_highlighting.py
Due: formatting, sync

docs: explain syntax highlighting
  .vale/styles/config/vocabularies/Awesome/accept.txt
  docs/how-to/customize/includes/color-scheme-different.rst
  docs/how-to/customize/includes/color-scheme-same.rst
  docs/how-to/customize/syntax-highlighting.rst
Due: none

docs: shorter urls
  docs/_redirects
  docs/how-to/customize/css.rst
  docs/how-to/customize/includes/color-scheme-different.rst
  docs/how-to/customize/index.rst
  docs/how-to/customize/js.rst
  docs/how-to/customize/syntax-highlighting.rst
  docs/how-to/customize/templates.rst
Due: none

docs: explain syntax highlighting workaround (#1853)
  .vale/styles/config/vocabularies/Awesome/accept.txt
  docs/_redirects
  docs/how-to/customize/css.rst
  docs/how-to/customize/includes/color-scheme-different.rst
  docs/how-to/customize/includes/color-scheme-same.rst
  docs/how-to/customize/index.rst
  docs/how-to/customize/js.rst
  docs/how-to/customize/syntax-highlighting.rst
  docs/how-to/customize/templates.rst
Due: none

fix: monkey-patch PygmentsBridge.get_stylesheet
  src/sphinxawesome_theme/highlighting.py
Due: formatting

feat: monkey-patch HTML builder
  docs/conf.py
  docs/readthedocs.txt
  poetry.lock
  pyproject.toml
  src/sphinxawesome_theme/__init__.py
  src/sphinxawesome_theme/builder.py
Due: formatting, sync

fix: as a list?
  src/sphinxawesome_theme/__init__.py
Due: formatting

fix: mypy
  src/sphinxawesome_theme/builder.py
Due: formatting

fix: proper prefix
  docs/conf.py
  src/sphinxawesome_theme/builder.py
  src/sphinxawesome_theme/highlighting.py
Due: formatting

fix: background style
  src/sphinxawesome_theme/static/theme.css
  src/theme-src/css/code.css
  src/theme-src/pnpm-lock.yaml
Due: none

fix: refactor
  docs/conf.py
  src/sphinxawesome_theme/__init__.py
  src/sphinxawesome_theme/builder.py
  src/sphinxawesome_theme/code.py
  src/sphinxawesome_theme/deprecated.py
  src/sphinxawesome_theme/highlighting.py
  tests/test_deprecated.py
  tests/test_highlighting.py
Due: formatting

fix: compat
  src/sphinxawesome_theme/builder.py
Due: formatting

fix: more compatible
  src/sphinxawesome_theme/builder.py
Due: formatting

docs: update
  README.md
  docs/about.rst
  docs/changelog/includes/5.0.rst
  docs/changelog/includes/5.2.rst
  docs/changelog/index.rst
  docs/conf.py
  docs/how-to/add/includes/add-to-sphinx.rst
  docs/how-to/add/includes/configure.inc
  docs/how-to/build-your-own/includes/prepare-python-environment.rst
  docs/how-to/configure/includes/extensions.rst
  docs/how-to/configure/includes/syntax-highlighting.rst
  docs/how-to/configure/index.rst
  docs/how-to/customize/includes/color-scheme-different.rst
  docs/how-to/customize/includes/color-scheme-same.rst
  docs/how-to/customize/index.rst
  docs/how-to/customize/syntax-highlighting.rst
  docs/how-to/install/includes/fork-and-clone.rst
  docs/index.rst
  pyproject.toml
  src/theme-src/package.json
  tests/test_basic.py
Due: formatting, sync

feat: support dark mode color schemes (#1854)
  README.md
  docs/about.rst
  docs/changelog/includes/5.0.rst
  docs/changelog/includes/5.2.rst
  docs/changelog/index.rst
  docs/conf.py
  docs/how-to/add/includes/add-to-sphinx.rst
  docs/how-to/add/includes/configure.inc
  docs/how-to/build-your-own/includes/prepare-python-environment.rst
  docs/how-to/configure/includes/extensions.rst
  docs/how-to/configure/includes/syntax-highlighting.rst
  docs/how-to/configure/index.rst
  docs/how-to/customize/includes/color-scheme-different.rst
  docs/how-to/customize/includes/color-scheme-same.rst
  docs/how-to/customize/index.rst
  docs/how-to/customize/syntax-highlighting.rst
  docs/how-to/install/includes/fork-and-clone.rst
  docs/index.rst
  docs/readthedocs.txt
  poetry.lock
  pyproject.toml
  src/sphinxawesome_theme/__init__.py
  src/sphinxawesome_theme/builder.py
  src/sphinxawesome_theme/code.py
  src/sphinxawesome_theme/deprecated.py
  src/sphinxawesome_theme/highlighting.py
  src/sphinxawesome_theme/static/theme.css
  src/theme-src/css/code.css
  src/theme-src/package.json
  src/theme-src/pnpm-lock.yaml
  tests/test_basic.py
  tests/test_deprecated.py
  tests/test_highlighting.py
Due: formatting, sync

docs: describe permalinks config
  docs/how-to/add/includes/add-to-sphinx.rst
  docs/how-to/configure/includes/permalinks-icon.rst
  docs/how-to/configure/index.rst
  docs/index.rst
Due: none

docs: describe permalinks config (#1855)
  docs/how-to/add/includes/add-to-sphinx.rst
  docs/how-to/configure/includes/permalinks-icon.rst
  docs/how-to/configure/index.rst
  docs/index.rst
Due: none

docs: remove old changelog
  CHANGELOG.md
Due: none

fix: try cloudflare
  noxfile.py
  requirements.txt
  runtime.txt
Due: formatting

fix: add nox
  poetry.lock
  pyproject.toml
  requirements.txt
Due: sync

fix: simplify
  noxfile.py
  pyproject.toml
  requirements.txt
  runtime.txt
Due: formatting, sync

fix: lockfile
  poetry.lock
Due: none

fix: redirects
  docs/_redirects
Due: none

fix: update link to Sphinx doc
  docs/how-to/customize/includes/extend-templates.rst
Due: none

fix: update python deps
  docs/readthedocs.txt
  poetry.lock
  pyproject.toml
  requirements.txt
Due: sync

fix: update js deps
  src/sphinxawesome_theme/static/theme.css
  src/sphinxawesome_theme/static/theme.js
  src/theme-src/package.json
  src/theme-src/pnpm-lock.yaml
Due: none

fix: link in the docs (#1897)
  docs/how-to/customize/includes/extend-templates.rst
  docs/readthedocs.txt
  poetry.lock
  pyproject.toml
  requirements.txt
  src/sphinxawesome_theme/static/theme.css
  src/sphinxawesome_theme/static/theme.js
  src/theme-src/package.json
  src/theme-src/pnpm-lock.yaml
Due: sync

Path conditions:
  formatting: any of: \.py$
  sync: any of: pyproject\.toml
