Repository kai687/sphinxawesome-theme: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, sync

.pre-commit-config.yaml:

repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: trailing-whitespace
      - id: no-commit-to-branch
  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: sync
        name: sync constraints.txt
        entry: nox -s export
        pass_filenames: false
        language: system
        files: 'pyproject\.toml'
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.0.0-alpha.9-for-vscode"
    hooks:
      - id: prettier
        types: [javascript]
        files: "src/theme-src/"

docs: upgrade guide
  docs/about.rst
  docs/changelog/includes/2.0.rst
  docs/changelog/includes/3.0.rst
  docs/changelog/includes/4.0.rst
  docs/changelog/includes/5.0.rst
  docs/changelog/index.rst
  docs/conf.py
  docs/how-to/add/includes/add-extensions.rst
  docs/how-to/add/includes/add-to-sphinx.rst
  docs/how-to/add/includes/local-directory.rst
  docs/how-to/configure/includes/docsearch.rst
  docs/how-to/configure/includes/extension-options.rst
  docs/how-to/configure/includes/logos.rst
  docs/how-to/configure/includes/sidebars.rst
  docs/how-to/configure/includes/theme-options.rst
  docs/how-to/configure/index.rst
  docs/how-to/customize/add-custom-css.rst
  docs/how-to/customize/add-custom-js.rst
  docs/how-to/customize/add-custom-templates.rst
  docs/how-to/install/includes/install-local-directory.rst
  docs/how-to/install/includes/install-python-package.rst
  docs/index.rst
  src/sphinxawesome_theme/deprecated.py
  src/sphinxawesome_theme/docsearch.py
  src/sphinxawesome_theme/highlighting.py
Due: black

fix: types
  src/sphinxawesome_theme/deprecated.py
Due: black

docs: updates
  docs/about.rst
  docs/changelog/includes/5.0.rst
  docs/how-to/add/includes/add-extensions.rst
  docs/how-to/add/includes/add-to-sphinx.rst
  docs/how-to/add/includes/local-directory.rst
  docs/how-to/add/index.rst
  docs/how-to/build-your-own/includes/install-js-dependencies.rst
  docs/how-to/build-your-own/includes/install-python-dependencies.rst
  docs/how-to/build-your-own/includes/prepare-js-environment.rst
  docs/how-to/build-your-own/includes/prepare-python-environment.rst
  docs/how-to/configure/includes/docsearch.rst
  docs/how-to/configure/includes/extension-options.rst
  docs/how-to/configure/includes/extensions.rst
  docs/how-to/configure/includes/theme-options.rst
  docs/how-to/configure/index.rst
  docs/how-to/install/includes/fork-and-clone.rst
  src/sphinxawesome_theme/docsearch.py
  src/sphinxawesome_theme/highlighting.py
  src/sphinxawesome_theme/page.html
  src/sphinxawesome_theme/toc.html
Due: black

chore: prepare updates
  .github/workflows/lint-docs.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  constraints.txt
  docs/how-to/build-your-own/includes/prepare-python-environment.rst
  docs/how-to/configure/includes/docsearch.rst
  docs/how-to/configure/includes/extension-options.rst
  noxfile.py
  poetry.lock
  pyproject.toml
  requirements.txt
  src/theme-src/yarn.lock
Due: black, sync

chore: prepare release
  docs/how-to/configure/includes/docsearch.rst
  docs/how-to/configure/includes/extension-options.rst
  pyproject.toml
  src/theme-src/package.json
  tests/test_basic.py
Due: black, sync

chore: prepare updates (#1317)
  .github/workflows/lint-docs.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  constraints.txt
  docs/how-to/build-your-own/includes/prepare-python-environment.rst
  docs/how-to/configure/includes/docsearch.rst
  docs/how-to/configure/includes/extension-options.rst
  noxfile.py
  poetry.lock
  pyproject.toml
  requirements.txt
  src/theme-src/package.json
  src/theme-src/yarn.lock
  tests/test_basic.py
Due: black, sync

chore: rename to main
  .github/workflows/codeql.yml
  docs/conf.py
  docs/how-to/customize/includes/available-templates.rst
  src/sphinxawesome_theme/__init__.py
  src/sphinxawesome_theme/jsonimpl.py
Due: black

chore: update CHANGELOG
  CHANGELOG.md
Due: none

chore: merge conflicts
  docs/conf.py
  docs/how-to/configure/includes/docsearch.rst
Due: black

docs: minor fixes
  docs/about.rst
  docs/demo/auto.rst
  docs/demo/code-blocks.rst
  docs/demo/inline-code.rst
  docs/demo/notes.rst
  docs/how-to/add/includes/local-directory.rst
  docs/how-to/build-your-own/includes/install-js-dependencies.rst
  docs/how-to/build-your-own/includes/install-python-dependencies.rst
  docs/how-to/build-your-own/includes/prepare-js-environment.rst
  docs/how-to/build-your-own/includes/prepare-python-environment.rst
  docs/how-to/configure/includes/theme-options.rst
  docs/how-to/install/includes/fork-and-clone.rst
  docs/how-to/install/includes/install-local-directory.rst
  docs/how-to/install/includes/install-python-package.rst
Due: none

fix: move extension check
  docs/conf.py
  docs/how-to/add/index.rst
  docs/how-to/configure/index.rst
  docs/index.rst
  poetry.lock
  src/sphinxawesome_theme/__init__.py
  src/sphinxawesome_theme/deprecated.py
  tests/test_deprecated.py
Due: black

docs: local theme
  docs/how-to/add/includes/local-directory.rst
Due: none

docs: metadata
  docs/about.rst
  docs/changelog/index.rst
  docs/conf.py
  docs/demo/auto.rst
  docs/demo/code-blocks.rst
  docs/demo/contents.rst
  docs/demo/figures.rst
  docs/demo/footnotes.rst
  docs/demo/inline-code.rst
  docs/demo/lists.rst
  docs/demo/notes.rst
  docs/demo/sphinx-design.rst
  docs/demo/text.rst
  docs/how-to/add/index.rst
  docs/how-to/build-your-own/index.rst
  docs/how-to/configure/index.rst
  docs/how-to/customize/add-custom-css.rst
  docs/how-to/customize/add-custom-js.rst
  docs/how-to/customize/add-custom-templates.rst
  docs/how-to/customize/index.rst
  docs/how-to/install/index.rst
  docs/index.rst
  src/sphinxawesome_theme/layout.html
Due: black

chore: bump version
  pyproject.toml
  src/theme-src/package.json
  src/theme-src/yarn.lock
  tests/test_basic.py
Due: black, sync

build(poetry): Add commitizen to this project
  poetry.lock
  pyproject.toml
Due: sync

build(poetry): Add commitizen to this project (#1323)
  poetry.lock
  pyproject.toml
Due: sync

docs(install): update installation instructions
  docs/how-to/install/includes/install-python-package.rst
  docs/how-to/install/includes/install.sh
  docs/index.rst
Due: none

docs(install): update installation instructions (#1324)
  docs/how-to/install/includes/install-python-package.rst
  docs/how-to/install/includes/install.sh
  docs/index.rst
Due: none

docs: shorten readme
  README.md
Due: none

docs(docsearch): update config options description
  docs/how-to/configure/includes/docsearch.rst
Due: none

build: update python dependencies
  poetry.lock
  pyproject.toml
Due: sync

docs(docsearch): update configuration description (#1327)
  docs/how-to/configure/includes/docsearch.rst
  poetry.lock
  pyproject.toml
Due: sync

fix: umami tracking
  docs/_templates/page.html
Due: none

fix: umami analytics (#1328)
  docs/_templates/page.html
Due: none

refactor(highlighting): cleaner monkeypatching
  src/sphinxawesome_theme/highlighting.py
  tests/roots/test-highlighting/index.rst
  tests/test_highlighting.py
Due: black

refactor: use dataclass for icons in postprocess
  src/sphinxawesome_theme/icons.py
  src/sphinxawesome_theme/postprocess.py
Due: black

fix: mypy
  src/sphinxawesome_theme/highlighting.py
Due: black

docs: add comment
  src/sphinxawesome_theme/highlighting.py
Due: black

feat: simplify highlighting (#1329)
  src/sphinxawesome_theme/highlighting.py
  src/sphinxawesome_theme/icons.py
  src/sphinxawesome_theme/postprocess.py
  tests/roots/test-highlighting/index.rst
  tests/test_highlighting.py
Due: black

refactor(highlighting): Make AwesomeCodeBlock directive shorter
  pyproject.toml
  src/sphinxawesome_theme/highlighting.py
Due: black, sync

fix: indentation
  src/sphinxawesome_theme/highlighting.py
Due: black

docs: comment
  src/sphinxawesome_theme/highlighting.py
Due: black

refactor(highlighting): Make AwesomeCodeBlock directive shorter (#1330)
  pyproject.toml
  src/sphinxawesome_theme/highlighting.py
Due: black, sync

refactor(highlighting): extract method for getting line numbers
  src/sphinxawesome_theme/highlighting.py
Due: black

refactor(highlighting): extract method for getting line numbers (#1331)
  src/sphinxawesome_theme/highlighting.py
Due: black

build(nox): monkey-patch nox
  noxfile.py
Due: black

build(nox): monkey-patch nox (#1332)
  noxfile.py
Due: black

build(nox): monkey-patch nox (#1332)
  noxfile.py
  poetry.lock
  pyproject.toml
  requirements.txt
Due: black, sync

build: update javascript dependencies
  src/sphinxawesome_theme/static/docsearch.445222223e83896718c6.css
  src/sphinxawesome_theme/static/docsearch.82e38f6cd0ccc11d77d4.css
  src/sphinxawesome_theme/static/docsearch.8cecda6602174cdd6086.js
  src/sphinxawesome_theme/static/docsearch.8cecda6602174cdd6086.js.LICENSE.txt
  src/sphinxawesome_theme/static/docsearch.f1a1a5835ed7a6ab0c85.js
  src/sphinxawesome_theme/static/docsearch.f1a1a5835ed7a6ab0c85.js.LICENSE.txt
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.55e8056ed84b8ec7a6cd.js
  src/sphinxawesome_theme/static/theme.55e8056ed84b8ec7a6cd.js.LICENSE.txt
  src/sphinxawesome_theme/static/theme.ad172c0f1249198ea036.js
  src/theme-src/package.json
  src/theme-src/yarn.lock
Due: none
