Repository kai687/sphinxawesome-theme: changes, and which pre-commit hooks are due for each by the changed paths.
All: formatting, sync

.pre-commit-config.yaml:

repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: trailing-whitespace
      - id: no-commit-to-branch
  - repo: local
    hooks:
      - id: formatting
        name: format code
        entry: nox -s fmt
        pass_filenames: false
        language: system
        types: [python]
      - id: sync
        name: sync requirements.txt
        entry: nox -s export
        pass_filenames: false
        language: system
        files: 'pyproject\.toml'

fix: only track main domain
  docs/_templates/page.html
Due: none

fix: only track main domain (#1898)
  docs/_templates/page.html
Due: none

fix: hide website id
  docs/_templates/page.html
  docs/conf.py
Due: formatting

fix: hide website id (#1899)
  docs/_templates/page.html
  docs/conf.py
Due: formatting

chore: types
  docs/readthedocs.txt
  poetry.lock
  pyproject.toml
  requirements.txt
  src/sphinxawesome_theme/code.py
Due: formatting, sync

chore: types (#1926)
  docs/readthedocs.txt
  poetry.lock
  pyproject.toml
  requirements.txt
  src/sphinxawesome_theme/code.py
Due: formatting, sync

fix: format
  docs/conf.py
  docs/readthedocs.txt
  poetry.lock
  requirements.txt
  src/theme-src/package.json
  src/theme-src/pnpm-lock.yaml
  tests/test_basic.py
  tests/test_deprecated.py
Due: formatting

chore: support sphinx 8
  docs/readthedocs.txt
  poetry.lock
  pyproject.toml
  requirements.txt
  src/sphinxawesome_theme/static/awesome-docsearch.css
  src/sphinxawesome_theme/static/theme.css
  src/sphinxawesome_theme/static/theme.js
  src/theme-src/package.json
  src/theme-src/pnpm-lock.yaml
Due: sync

chore: support sphinx 8 (#2011)
  docs/readthedocs.txt
  poetry.lock
  pyproject.toml
  requirements.txt
  src/sphinxawesome_theme/static/awesome-docsearch.css
  src/sphinxawesome_theme/static/theme.css
  src/sphinxawesome_theme/static/theme.js
  src/theme-src/package.json
  src/theme-src/pnpm-lock.yaml
Due: sync

chore: bump version
  pyproject.toml
  src/theme-src/package.json
  tests/test_basic.py
Due: formatting, sync

fix: scrolltop button
  src/sphinxawesome_theme/layout.html
  src/sphinxawesome_theme/scrolltop.html
  src/sphinxawesome_theme/static/theme.css
  tests/test_scrolltop.py
Due: formatting

chore: bump version
  pyproject.toml
  src/sphinxawesome_theme/static/theme.css
  src/theme-src/package.json
  tests/test_basic.py
Due: formatting, sync

fix: scrolltop button (#2012)
  pyproject.toml
  src/sphinxawesome_theme/layout.html
  src/sphinxawesome_theme/scrolltop.html
  src/theme-src/package.json
  tests/test_basic.py
  tests/test_scrolltop.py
Due: formatting, sync

chore: update packages
  docs/readthedocs.txt
  noxfile.py
  poetry.lock
  requirements.txt
  src/sphinxawesome_theme/code.py
  src/sphinxawesome_theme/logos.py
  src/sphinxawesome_theme/static/0fc70aa4dfe4d16d7073.woff
  src/sphinxawesome_theme/static/0fecf1cc5677455886b4.woff2
  src/sphinxawesome_theme/static/1d5fc702ab9000c3247a.woff
  src/sphinxawesome_theme/static/2fe080a3bf49bdc12fcb.woff2
  src/sphinxawesome_theme/static/39bd78ffb50669d6855a.woff
  src/sphinxawesome_theme/static/4f183a25813446a47ad9.woff2
  src/sphinxawesome_theme/static/583e3f428bf2362b546d.woff
  src/sphinxawesome_theme/static/5be6ec379613f10aea3f.woff
  src/sphinxawesome_theme/static/5f68b8c26e28d783a591.woff2
  src/sphinxawesome_theme/static/63a0f5d460fb58135365.woff
  src/sphinxawesome_theme/static/70e1dc5f5622381d6e9e.woff
  src/sphinxawesome_theme/static/76c1862325ea6f70eeff.woff2
  src/sphinxawesome_theme/static/83710c128240451d95af.woff
  src/sphinxawesome_theme/static/84504970850f0632d9c3.woff
  src/sphinxawesome_theme/static/a1e4997bd1fb9d7822e1.woff2
  src/sphinxawesome_theme/static/a61d04152f1635036f0d.woff2
  src/sphinxawesome_theme/static/a63d39a1c104a2b3e87e.woff2
  src/sphinxawesome_theme/static/b659956119f91f2342bc.woff2
  src/sphinxawesome_theme/static/bb50084be2b43ba7b98c.woff2
  src/sphinxawesome_theme/static/c226d7283d0d52c2d32c.woff
  src/sphinxawesome_theme/static/ce1e40901d7a0d88d483.woff2
  src/sphinxawesome_theme/static/d04352f240062b100fba.woff2
  src/sphinxawesome_theme/static/f1cdf5c21de970ee0592.woff
  src/sphinxawesome_theme/static/fd994e8d90d9cab651b0.woff
  src/sphinxawesome_theme/static/theme.css
  src/sphinxawesome_theme/static/theme.js
  src/theme-src/package.json
  src/theme-src/pnpm-lock.yaml
Due: formatting

chore: python versions in gh actions
  .github/workflows/lint-docs.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
Due: none

chore: update packages (#2034)
  .github/workflows/lint-docs.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  docs/readthedocs.txt
  noxfile.py
  poetry.lock
  requirements.txt
  src/sphinxawesome_theme/code.py
  src/sphinxawesome_theme/logos.py
  src/sphinxawesome_theme/static/0fc70aa4dfe4d16d7073.woff
  src/sphinxawesome_theme/static/0fecf1cc5677455886b4.woff2
  src/sphinxawesome_theme/static/1d5fc702ab9000c3247a.woff
  src/sphinxawesome_theme/static/2fe080a3bf49bdc12fcb.woff2
  src/sphinxawesome_theme/static/39bd78ffb50669d6855a.woff
  src/sphinxawesome_theme/static/4f183a25813446a47ad9.woff2
  src/sphinxawesome_theme/static/583e3f428bf2362b546d.woff
  src/sphinxawesome_theme/static/5be6ec379613f10aea3f.woff
  src/sphinxawesome_theme/static/5f68b8c26e28d783a591.woff2
  src/sphinxawesome_theme/static/63a0f5d460fb58135365.woff
  src/sphinxawesome_theme/static/70e1dc5f5622381d6e9e.woff
  src/sphinxawesome_theme/static/76c1862325ea6f70eeff.woff2
  src/sphinxawesome_theme/static/83710c128240451d95af.woff
  src/sphinxawesome_theme/static/84504970850f0632d9c3.woff
  src/sphinxawesome_theme/static/a1e4997bd1fb9d7822e1.woff2
  src/sphinxawesome_theme/static/a61d04152f1635036f0d.woff2
  src/sphinxawesome_theme/static/a63d39a1c104a2b3e87e.woff2
  src/sphinxawesome_theme/static/b659956119f91f2342bc.woff2
  src/sphinxawesome_theme/static/bb50084be2b43ba7b98c.woff2
  src/sphinxawesome_theme/static/c226d7283d0d52c2d32c.woff
  src/sphinxawesome_theme/static/ce1e40901d7a0d88d483.woff2
  src/sphinxawesome_theme/static/d04352f240062b100fba.woff2
  src/sphinxawesome_theme/static/f1cdf5c21de970ee0592.woff
  src/sphinxawesome_theme/static/fd994e8d90d9cab651b0.woff
  src/sphinxawesome_theme/static/theme.css
  src/sphinxawesome_theme/static/theme.js
  src/theme-src/package.json
  src/theme-src/pnpm-lock.yaml
Due: formatting

chore: update dependencies
  poetry.lock
  requirements.txt
  src/theme-src/package.json
  src/theme-src/pnpm-lock.yaml
Due: none

chore: update dependencies (#2053)
  poetry.lock
  requirements.txt
  src/theme-src/package.json
  src/theme-src/pnpm-lock.yaml
Due: none

Typo: `set` to `dict`
  docs/how-to/configure/includes/theme-options.rst
Due: none

fix: wrong version of dulwich for netlify
  requirements.txt
Due: none

Typo: `set` to `dict` (#2054)
  docs/how-to/configure/includes/theme-options.rst
  requirements.txt
Due: none

fix: style tweak for auto api
  docs/conf.py
  docs/index.rst
  docs/readthedocs.txt
  docs/src/api.py
  poetry.lock
  pyproject.toml
  src/sphinxawesome_theme/static/awesome-docsearch.css
  src/sphinxawesome_theme/static/awesome-sphinx-design.css
  src/sphinxawesome_theme/static/theme.css
  src/sphinxawesome_theme/static/theme.js
  src/theme-src/css/code.css
  src/theme-src/package.json
  src/theme-src/pnpm-lock.yaml
Due: formatting, sync

Add custom CSS for API documentation type hints
  src/theme-src/css/code.css
Due: none

fix: style tweak for auto api (#2057)
  docs/conf.py
  docs/index.rst
  docs/readthedocs.txt
  docs/src/api.py
  poetry.lock
  pyproject.toml
  src/sphinxawesome_theme/static/awesome-docsearch.css
  src/sphinxawesome_theme/static/awesome-sphinx-design.css
  src/sphinxawesome_theme/static/theme.css
  src/sphinxawesome_theme/static/theme.js
  src/theme-src/css/code.css
  src/theme-src/package.json
  src/theme-src/pnpm-lock.yaml
Due: formatting, sync

feat: restructure project files for uv
  poetry.lock
  pyproject.toml
  uv.lock
Due: sync

fix: migrate nox sessions
  noxfile.py
Due: formatting

fix: migrate github actions to uv
  .github/workflows/ci.yml
  .github/workflows/crawler.yml
  .github/workflows/lint-docs.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
Due: none

fix: remove netlify files
  requirements.txt
  runtime.txt
Due: none

fix: update types
  src/sphinxawesome_theme/__init__.py
  src/sphinxawesome_theme/builder.py
  src/sphinxawesome_theme/code.py
  src/sphinxawesome_theme/highlighting.py
  src/sphinxawesome_theme/jsonimpl.py
  src/sphinxawesome_theme/logos.py
  src/sphinxawesome_theme/postprocess.py
  src/sphinxawesome_theme/toc.py
Due: formatting

fix: remove deprecated code
  src/sphinxawesome_theme/deprecated.py
  tests/test_deprecated.py
  tests/test_extensions.py
Due: formatting

chore: update dependencies
  src/theme-src/package.json
  src/theme-src/pnpm-lock.yaml
  tests/test_basic.py
Due: formatting

chore: update precommit
  .pre-commit-config.yaml
  README.md
Due: none

fix: update links
  docs/about.rst
  docs/changelog/includes/2.0.rst
  docs/index.rst
Due: none

fix: requirements for readthedocs
  docs/readthedocs.txt
  noxfile.py
  requirements.txt
  uv.lock
Due: formatting

fix: readthedocs config
  .readthedocs.yaml
Due: none

fix: typo in ci.yml
  .github/workflows/ci.yml
Due: none

fix: another typo in ci.yml
  .github/workflows/ci.yml
Due: none

fix: rename session
  noxfile.py
Due: formatting

fix: need credentials for linkchecking
  .github/workflows/ci.yml
Due: none
