Repository kai687/sphinxawesome-theme: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, sync

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

isort:
  name: isort
  entry: poetry run isort
  language: system

sync:
  name: sync requirements.txt
  entry: nox -s export
  pass_filenames: false
  language: system

fix: theme works without setting extension (#1042)
  CHANGELOG.md
  README.md
  docs/how-to/load.md
  src/sphinxawesome_theme/static/docsearch_config.js_t
Due: none

docs: update instructions
  docs/index.md
Due: none

docs: update instructions (#1044)
  docs/index.md
Due: none

fix: make highlighting extension optional
  docs/how-to/options.md
  src/sphinxawesome_theme/__init__.py
Due: black, flake8, isort

fix: nowrap inline code
  src/sphinxawesome_theme/highlighting.py
Due: black, flake8, isort

fix: update changelog
  CHANGELOG.md
Due: none

fix: highlighting inline code (#1045)
  CHANGELOG.md
  docs/how-to/options.md
  src/sphinxawesome_theme/__init__.py
  src/sphinxawesome_theme/highlighting.py
Due: black, flake8, isort

docs: explanation
  docs/how-to/load.md
Due: none

fix: highlighting (#1046)
  docs/how-to/load.md
Due: none

chore: update packages
  poetry.lock
  src/sphinxawesome_theme/static/04221d1c6838f9fdd557.woff
  src/sphinxawesome_theme/static/09be83022f2ac2ce16b0.woff
  src/sphinxawesome_theme/static/1b0f4d9f360bf795b840.woff2
  src/sphinxawesome_theme/static/30670a02974f80a898ff.woff2
  src/sphinxawesome_theme/static/31f64b9c465158bd6066.woff2
  src/sphinxawesome_theme/static/42ba3027499c19034257.woff
  src/sphinxawesome_theme/static/46830c334f8112fa510a.woff
  src/sphinxawesome_theme/static/518464e0ec13eabaab5b.woff
  src/sphinxawesome_theme/static/6f04107ce68d524ebe69.woff
  src/sphinxawesome_theme/static/7b7c80708f0c7a904863.woff2
  src/sphinxawesome_theme/static/9d02cef1963502c9b2f9.woff2
  src/sphinxawesome_theme/static/a49e53c029ef019e7422.woff2
  src/sphinxawesome_theme/static/ad463ea60cc8b68792f4.woff
  src/sphinxawesome_theme/static/c3a23073096fe509111c.woff2
  src/sphinxawesome_theme/static/d0b41bd1d599bc0a52b7.woff2
  src/sphinxawesome_theme/static/d56c9111fe2295657c50.woff
  src/sphinxawesome_theme/static/docsearch.311603f71f0cc9f1b649.js
  src/sphinxawesome_theme/static/docsearch.311603f71f0cc9f1b649.js.LICENSE.txt
  src/sphinxawesome_theme/static/docsearch.3d7de4392c882a5941c0.css
  src/sphinxawesome_theme/static/docsearch.649c86ff9e8a8c4a559e.css
  src/sphinxawesome_theme/static/docsearch.7854fe2d6ce5cfc33d76.js
  src/sphinxawesome_theme/static/docsearch.7854fe2d6ce5cfc33d76.js.LICENSE.txt
  src/sphinxawesome_theme/static/docsearch_config.js_t
  src/sphinxawesome_theme/static/e2899e588021cfc45d7f.woff
  src/sphinxawesome_theme/static/ec416b97881f4a422686.woff2
  src/sphinxawesome_theme/static/f58c05a5dca66a6c14cf.woff
  src/sphinxawesome_theme/static/ff058b7e238adc5cba09.woff2
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.3f24424107630a4fcbca.js
  src/sphinxawesome_theme/static/theme.3f24424107630a4fcbca.js.LICENSE.txt
  src/sphinxawesome_theme/static/theme.821bcde68930fe57a459.css
  src/sphinxawesome_theme/static/theme.cb62ca5601ec709626b6.js
  src/sphinxawesome_theme/static/theme.f7c1fb8d5d75b820563a.css
  src/theme-src/yarn.lock
Due: none

chore: bump version
  CHANGELOG.md
  pyproject.toml
  requirements.txt
  tests/test_sphinxawesome_theme.py
Due: black, flake8, isort, sync

chore: bump version (#1047)
  CHANGELOG.md
  poetry.lock
  pyproject.toml
  requirements.txt
  src/sphinxawesome_theme/static/04221d1c6838f9fdd557.woff
  src/sphinxawesome_theme/static/09be83022f2ac2ce16b0.woff
  src/sphinxawesome_theme/static/1b0f4d9f360bf795b840.woff2
  src/sphinxawesome_theme/static/30670a02974f80a898ff.woff2
  src/sphinxawesome_theme/static/31f64b9c465158bd6066.woff2
  src/sphinxawesome_theme/static/42ba3027499c19034257.woff
  src/sphinxawesome_theme/static/46830c334f8112fa510a.woff
  src/sphinxawesome_theme/static/518464e0ec13eabaab5b.woff
  src/sphinxawesome_theme/static/6f04107ce68d524ebe69.woff
  src/sphinxawesome_theme/static/7b7c80708f0c7a904863.woff2
  src/sphinxawesome_theme/static/9d02cef1963502c9b2f9.woff2
  src/sphinxawesome_theme/static/a49e53c029ef019e7422.woff2
  src/sphinxawesome_theme/static/ad463ea60cc8b68792f4.woff
  src/sphinxawesome_theme/static/c3a23073096fe509111c.woff2
  src/sphinxawesome_theme/static/d0b41bd1d599bc0a52b7.woff2
  src/sphinxawesome_theme/static/d56c9111fe2295657c50.woff
  src/sphinxawesome_theme/static/docsearch.311603f71f0cc9f1b649.js
  src/sphinxawesome_theme/static/docsearch.311603f71f0cc9f1b649.js.LICENSE.txt
  src/sphinxawesome_theme/static/docsearch.3d7de4392c882a5941c0.css
  src/sphinxawesome_theme/static/docsearch.649c86ff9e8a8c4a559e.css
  src/sphinxawesome_theme/static/docsearch.7854fe2d6ce5cfc33d76.js
  src/sphinxawesome_theme/static/docsearch.7854fe2d6ce5cfc33d76.js.LICENSE.txt
  src/sphinxawesome_theme/static/docsearch_config.js_t
  src/sphinxawesome_theme/static/e2899e588021cfc45d7f.woff
  src/sphinxawesome_theme/static/ec416b97881f4a422686.woff2
  src/sphinxawesome_theme/static/f58c05a5dca66a6c14cf.woff
  src/sphinxawesome_theme/static/ff058b7e238adc5cba09.woff2
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.3f24424107630a4fcbca.js
  src/sphinxawesome_theme/static/theme.3f24424107630a4fcbca.js.LICENSE.txt
  src/sphinxawesome_theme/static/theme.821bcde68930fe57a459.css
  src/sphinxawesome_theme/static/theme.cb62ca5601ec709626b6.js
  src/sphinxawesome_theme/static/theme.f7c1fb8d5d75b820563a.css
  src/theme-src/yarn.lock
  tests/test_sphinxawesome_theme.py
Due: black, flake8, isort, sync

fix: docsearch preconnect
  src/sphinxawesome_theme/layout.html
  src/sphinxawesome_theme/static/docsearch_config.js_t
Due: none

fix: docsearch preconnect (#1048)
  src/sphinxawesome_theme/layout.html
  src/sphinxawesome_theme/static/docsearch_config.js_t
Due: none

chore: bump version
  CHANGELOG.md
  pyproject.toml
  tests/test_sphinxawesome_theme.py
Due: black, flake8, isort, sync

chore: bump version (#1049)
  CHANGELOG.md
  pyproject.toml
  tests/test_sphinxawesome_theme.py
Due: black, flake8, isort, sync

fix: docsearch
  src/sphinxawesome_theme/static/docsearch_config.js_t
Due: none

fix: docsearch (#1050)
  src/sphinxawesome_theme/static/docsearch_config.js_t
Due: none

fix: docsearch
  CHANGELOG.md
  pyproject.toml
  tests/test_sphinxawesome_theme.py
Due: black, flake8, isort, sync

fix: docsearch (#1051)
  CHANGELOG.md
  pyproject.toml
  tests/test_sphinxawesome_theme.py
Due: black, flake8, isort, sync

feat: release action
  .github/workflows/constraints.txt
  .github/workflows/release.yml
Due: none

feat: release action (#1052)
  .github/workflows/constraints.txt
  .github/workflows/release.yml
Due: none

docs: update wording
  docs/how-to/install.md
Due: none

docs: update wording (#1053)
  docs/how-to/install.md
Due: none

docs: update landing page
  docs/index.md
Due: none

docs: update landing page (#1054)
  docs/index.md
Due: none

docs: no comma
  docs/how-to/load.md
Due: none

docs: update using
  docs/how-to/using.md
Due: none

docs: update customize
  docs/how-to/customize.md
Due: none

docs: update modify
  docs/how-to/modify.md
Due: none

docs: update index
  docs/index.md
Due: none

docs: update install
  docs/how-to/install.md
Due: none

chore: remove unused programoutput extension
  docs/conf.py
  pyproject.toml
Due: black, flake8, isort, sync

docs: update use
  docs/how-to/use.md
Due: none

doc: update options
  docs/how-to/options.md
Due: none

docs: update autodoc
  docs/demo/auto.rst
Due: none

docs: update code blocks
  docs/demo/code-blocks.rst
Due: none

docs: update contents
  docs/demo/contents.rst
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  sync: any of: pyproject\.toml
