Repository kai687/sphinxawesome-theme: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, sync

.pre-commit-config.yaml:

repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: trailing-whitespace
      - id: no-commit-to-branch
  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: sync
        name: sync requirements.txt
        entry: nox -s export
        pass_filenames: false
        language: system
        files: 'pyproject\.toml'

fix(css): scale code in header
  docs/demo/text.rst
  docs/readthedocs.txt
  poetry.lock
  pyproject.toml
  requirements.txt
  src/sphinxawesome_theme/static/theme.css
  src/sphinxawesome_theme/static/theme.js
  src/sphinxawesome_theme/toc.py
  src/theme-src/css/code.css
  src/theme-src/package.json
  src/theme-src/pnpm-lock.yaml
Due: black, sync

chore: bump version
  pyproject.toml
  src/theme-src/package.json
  tests/test_basic.py
Due: black, sync

fix(css): scale code in header (#1717)
  docs/demo/text.rst
  docs/readthedocs.txt
  poetry.lock
  pyproject.toml
  requirements.txt
  src/sphinxawesome_theme/static/theme.css
  src/sphinxawesome_theme/static/theme.js
  src/sphinxawesome_theme/toc.py
  src/theme-src/css/code.css
  src/theme-src/package.json
  src/theme-src/pnpm-lock.yaml
  tests/test_basic.py
Due: black, sync

chore: use ruff for formatting
  .pre-commit-config.yaml
  noxfile.py
  poetry.lock
  pyproject.toml
  requirements.txt
  src/sphinxawesome_theme/postprocess.py
  src/theme-src/package.json
  src/theme-src/pnpm-lock.yaml
Due: black, sync

fix: mypy comment
  src/sphinxawesome_theme/postprocess.py
Due: black

chore: use ruff for formatting (#1728)
  .pre-commit-config.yaml
  noxfile.py
  poetry.lock
  pyproject.toml
  requirements.txt
  src/sphinxawesome_theme/postprocess.py
  src/theme-src/package.json
  src/theme-src/pnpm-lock.yaml
Due: black, sync

chore: update packages
  poetry.lock
  src/sphinxawesome_theme/static/06b2bbbc4b7413514f6a.woff
  src/sphinxawesome_theme/static/1d5fc702ab9000c3247a.woff
  src/sphinxawesome_theme/static/theme.css
  src/sphinxawesome_theme/static/theme.js
  src/theme-src/package.json
  src/theme-src/pnpm-lock.yaml
Due: none

chore: ruff with check
  docs/conf.py
  noxfile.py
  src/sphinxawesome_theme/deprecated.py
  src/sphinxawesome_theme/highlighting.py
  src/sphinxawesome_theme/jinja_functions.py
  src/sphinxawesome_theme/jsonimpl.py
  src/sphinxawesome_theme/logos.py
  src/sphinxawesome_theme/postprocess.py
  tests/conftest.py
  tests/test_highlighting.py
  tests/util.py
Due: black

chore: type
  src/sphinxawesome_theme/highlighting.py
Due: black

chore: update requirements
  .pre-commit-config.yaml
  docs/readthedocs.txt
  requirements.txt
Due: none

chore: simplify lint action
  .github/workflows/lint.yml
Due: none

chore: simplify all actions
  .github/workflows/lint-docs.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
Due: none

chore: update packages (#1777)
  .github/workflows/lint-docs.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  docs/conf.py
  docs/readthedocs.txt
  noxfile.py
  poetry.lock
  requirements.txt
  src/sphinxawesome_theme/deprecated.py
  src/sphinxawesome_theme/highlighting.py
  src/sphinxawesome_theme/jinja_functions.py
  src/sphinxawesome_theme/jsonimpl.py
  src/sphinxawesome_theme/logos.py
  src/sphinxawesome_theme/postprocess.py
  src/sphinxawesome_theme/static/06b2bbbc4b7413514f6a.woff
  src/sphinxawesome_theme/static/1d5fc702ab9000c3247a.woff
  src/sphinxawesome_theme/static/theme.css
  src/sphinxawesome_theme/static/theme.js
  src/theme-src/package.json
  src/theme-src/pnpm-lock.yaml
  tests/conftest.py
  tests/test_highlighting.py
  tests/util.py
Due: black

chore: update dependencies
  docs/readthedocs.txt
  poetry.lock
  requirements.txt
  src/theme-src/package.json
  src/theme-src/pnpm-lock.yaml
Due: none

fix: accessibility
  docs/_static/feedback.css
  docs/_templates/feedback.html
  src/sphinxawesome_theme/header.html
  src/sphinxawesome_theme/layout.html
  src/sphinxawesome_theme/static/awesome-docsearch.css
  src/sphinxawesome_theme/static/theme.css
  src/sphinxawesome_theme/static/theme.js
  src/theme-src/css/docsearch.css
Due: none

fix: some accessibility issues (#1797)
  docs/_static/feedback.css
  docs/_templates/feedback.html
  docs/readthedocs.txt
  poetry.lock
  pyproject.toml
  requirements.txt
  src/sphinxawesome_theme/header.html
  src/sphinxawesome_theme/layout.html
  src/sphinxawesome_theme/static/awesome-docsearch.css
  src/sphinxawesome_theme/static/theme.css
  src/sphinxawesome_theme/static/theme.js
  src/theme-src/css/docsearch.css
  src/theme-src/package.json
  src/theme-src/pnpm-lock.yaml
  tests/test_basic.py
Due: black, sync

fix: rubric
  docs/readthedocs.txt
  poetry.lock
  requirements.txt
  src/sphinxawesome_theme/static/theme.css
  src/theme-src/css/content.css
  src/theme-src/package.json
  src/theme-src/pnpm-lock.yaml
Due: none

fix: backlink color
  src/sphinxawesome_theme/static/theme.css
  src/theme-src/css/content.css
Due: none

fix: avoid awkward break
  docs/how-to/configure/includes/docsearch.rst
  src/sphinxawesome_theme/static/theme.css
  src/theme-src/css/content.css
Due: none

fix: mypy
  src/sphinxawesome_theme/highlighting.py
Due: black

fix: updated suppored sphinx version
  poetry.lock
  pyproject.toml
Due: sync

fix: supress poetry warnings in ci
  .github/workflows/lint-docs.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
Due: none

fix: mypy
  pyproject.toml
  src/sphinxawesome_theme/highlighting.py
Due: black, sync

fix: stick with older Sphinx for now
  poetry.lock
  pyproject.toml
Due: sync

fix: README
  README.md
Due: none

fix(css): rubric (#1799)
  .github/workflows/lint-docs.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  README.md
  docs/how-to/configure/includes/docsearch.rst
  docs/readthedocs.txt
  poetry.lock
  pyproject.toml
  requirements.txt
  src/sphinxawesome_theme/static/theme.css
  src/theme-src/css/content.css
  src/theme-src/package.json
  src/theme-src/pnpm-lock.yaml
Due: sync

fix: noxfile
  noxfile.py
Due: black

fix: supported python version
  docs/readthedocs.txt
  poetry.lock
  pyproject.toml
Due: sync

fix: supported python version (#1800)
  docs/readthedocs.txt
  poetry.lock
  pyproject.toml
Due: sync

fix(css): toc scroll
  src/sphinxawesome_theme/toc.html
Due: none

fix(css): need spaces
  src/sphinxawesome_theme/toc.html
Due: none

chore: update dependencies
  docs/readthedocs.txt
  poetry.lock
  requirements.txt
  src/sphinxawesome_theme/static/06b2bbbc4b7413514f6a.woff
  src/sphinxawesome_theme/static/1d5fc702ab9000c3247a.woff
  src/sphinxawesome_theme/static/theme.css
  src/sphinxawesome_theme/static/theme.js
  src/theme-src/package.json
  src/theme-src/pnpm-lock.yaml
Due: none

chore: bump versions
  pyproject.toml
  src/theme-src/package.json
  tests/test_basic.py
Due: black, sync

fix(css): toc scroll (#1805)
  docs/readthedocs.txt
  poetry.lock
  pyproject.toml
  requirements.txt
  src/sphinxawesome_theme/static/06b2bbbc4b7413514f6a.woff
  src/sphinxawesome_theme/static/1d5fc702ab9000c3247a.woff
  src/sphinxawesome_theme/static/theme.css
  src/sphinxawesome_theme/static/theme.js
  src/sphinxawesome_theme/toc.html
  src/theme-src/package.json
  src/theme-src/pnpm-lock.yaml
  tests/test_basic.py
Due: black, sync

fix: ruff
  src/sphinxawesome_theme/highlighting.py
Due: black

chore: update dependencies
  docs/readthedocs.txt
  poetry.lock
  pyproject.toml
  requirements.txt
Due: sync

chore: bump version
  src/sphinxawesome_theme/static/theme.js
  src/theme-src/package.json
  src/theme-src/pnpm-lock.yaml
  tests/test_basic.py
Due: black

chore: bump python package version also
  pyproject.toml
Due: sync
