Repository kai687/sphinxawesome-theme: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, sync

.pre-commit-config.yaml:

repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: trailing-whitespace
      - id: no-commit-to-branch
  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
      - id: sync
        name: sync requirements.txt
        entry: nox -s export
        pass_filenames: false
        language: system
        files: 'pyproject\.toml'
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.0.0-alpha.6"
    hooks:
      - id: prettier
        types: [javascript]
        files: "src/theme-src/"
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.254"
    hooks:
      - id: ruff

fix types for Python 3.8
  noxfile.py
  src/sphinxawesome_theme/highlighting.py
Due: black

don't be stupid
  src/sphinxawesome_theme/page.html
Due: none

update exports for netlify
  .pre-commit-config.yaml
  noxfile.py
  poetry.lock
  pyproject.toml
  requirements.txt
Due: black, sync

ignore ruff line length
  noxfile.py
  pyproject.toml
  requirements.txt
Due: black, sync

skip to content link
  src/sphinxawesome_theme/breadcrumbs.html
  src/sphinxawesome_theme/footer.html
  src/sphinxawesome_theme/header.html
  src/sphinxawesome_theme/layout.html
  src/sphinxawesome_theme/modals.html
  src/sphinxawesome_theme/page.html
  src/sphinxawesome_theme/sidebar.html
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.4813fb66f9ba0abe6df6.css
  src/sphinxawesome_theme/static/theme.f8dd4ba002431b4b026f.css
Due: none

remove unused files
  src/sphinxawesome_theme/modals.html
  utils/release.md
Due: none

support separate light and dark logos
  docs/assets/auto_awesome.svg
  src/sphinxawesome_theme/__init__.py
  src/sphinxawesome_theme/header.html
  src/sphinxawesome_theme/layout.html
  src/sphinxawesome_theme/sidebar.html
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.a3ae76eae5b19ed75db2.css
  src/sphinxawesome_theme/static/theme.f8dd4ba002431b4b026f.css
  src/sphinxawesome_theme/theme.conf
Due: black

update tests
  src/sphinxawesome_theme/__init__.py
  tests/roots/test-logos/assets/dark.svg
  tests/roots/test-logos/assets/light.svg
  tests/roots/test-logos/assets/logo.svg
  tests/roots/test-logos/conf.py
  tests/roots/test-logos/index.rst
  tests/test_logos.py
Due: black

fix types
  src/sphinxawesome_theme/__init__.py
  tests/test_logos.py
Due: black

fix: do not index breadcrumbs
  src/sphinxawesome_theme/layout.html
  src/sphinxawesome_theme/page.html
Due: none

fix: extract logos
  src/sphinxawesome_theme/__init__.py
  src/sphinxawesome_theme/logos.py
  tests/test_logos.py
Due: black

fix: sidebar can expand
  src/sphinxawesome_theme/postprocess.py
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.a3ae76eae5b19ed75db2.css
  src/sphinxawesome_theme/static/theme.c24de8dce0a91662a02d.css
  src/theme-src/css/sidebar.css
  src/theme-src/yarn.lock
Due: black

fix: svg inside button
  src/sphinxawesome_theme/postprocess.py
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.52ea0c6d5557b2d26369.css
  src/sphinxawesome_theme/static/theme.c24de8dce0a91662a02d.css
  src/theme-src/css/sidebar.css
Due: black

fix: change to basic option
  src/sphinxawesome_theme/sidebar.html
  src/sphinxawesome_theme/theme.conf
Due: none

chore: update python packages
  poetry.lock
Due: none

fix: move to theme options
  docs/conf.py
  src/sphinxawesome_theme/__init__.py
  src/sphinxawesome_theme/html_translator.py
  src/sphinxawesome_theme/layout.html
  src/sphinxawesome_theme/logos.py
  src/sphinxawesome_theme/postprocess.py
  src/sphinxawesome_theme/theme.conf
  tests/test_extensions.py
  tests/test_external_links.py
  tests/test_logos.py
Due: black

fix: types
  tests/test_external_links.py
Due: black

feat: load DocSearch separately
  docs/conf.py
  poetry.lock
  pyproject.toml
  src/sphinxawesome_theme/__init__.py
  src/sphinxawesome_theme/docsearch.py
  src/sphinxawesome_theme/layout.html
  src/sphinxawesome_theme/searchbox.html
  src/sphinxawesome_theme/static/docsearch_config.js_t
  src/theme-src/js/docsearch_config.js_t
  tests/test_extensions.py
Due: black, sync

feat: load highlighting extension separately
  docs/conf.py
  src/sphinxawesome_theme/__init__.py
  src/sphinxawesome_theme/highlighting.py
  tests/test_extensions.py
  tests/test_highlighting.py
Due: black

feat: no more loading as extension
  docs/conf.py
  src/sphinxawesome_theme/__init__.py
  src/sphinxawesome_theme/docsearch.py
  src/sphinxawesome_theme/highlighting.py
  src/sphinxawesome_theme/jinja_functions.py
  src/sphinxawesome_theme/jsonimpl.py
  src/sphinxawesome_theme/postprocess.py
  src/sphinxawesome_theme/toc.py
  tests/test_canonical.py
  tests/test_extensions.py
  tests/test_external_links.py
  tests/test_logos.py
Due: black

chore: pass environment variables to GH actions
  .github/workflows/lint-docs.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  constraints.txt
  poetry.lock
  pyproject.toml
  requirements.txt
Due: sync

fix: update to requirement
  .github/workflows/lint-docs.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
Due: none

fix: constraints are better
  .github/workflows/lint-docs.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  constraints.txt
  noxfile.py
  poetry.lock
  pyproject.toml
Due: black, sync

constraints are better, but Netlify needs requirements
  .github/workflows/lint-docs.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  noxfile.py
  requirements.txt
Due: black

docs: update readme
  README.md
Due: none

docs: early attempt at documenting the change
  docs/changelog/index.rst
  docs/demo/code-blocks.rst
  docs/how-to/add/includes/add-to-sphinx.rst
  docs/how-to/add/includes/configure.inc
  docs/how-to/add/includes/local-directory.rst
  docs/how-to/configure/includes/docsearch.rst
  docs/how-to/configure/includes/theme-options.rst
  docs/how-to/configure/index.rst
  src/sphinxawesome_theme/__init__.py
  src/sphinxawesome_theme/docsearch.py
Due: black

fix: use repository secrets instead
  .github/workflows/lint-docs.yml
  .github/workflows/lint.yml
Due: none

fix: skip to content
  src/sphinxawesome_theme/layout.html
Due: none

ci: add verbose mode to docs session
  docs/how-to/configure/includes/docsearch.rst
  noxfile.py
Due: black

docs: configuration
  docs/conf.py
  docs/demo/auto.rst
  docs/how-to/add/includes/add-extensions.rst
  docs/how-to/add/includes/add-to-sphinx.rst
  docs/how-to/add/index.rst
  docs/how-to/configure/includes/docsearch.rst
  docs/how-to/configure/includes/theme-options.rst
  poetry.lock
  src/sphinxawesome_theme/__init__.py
  src/sphinxawesome_theme/docsearch.py
  src/sphinxawesome_theme/header.html
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.52ea0c6d5557b2d26369.css
  src/sphinxawesome_theme/static/theme.a18b65ea00e6390f5d42.css
  src/theme-src/css/content.css
  src/theme-src/yarn.lock
  tests/test_extensions.py
Due: black

fix: types
  docs/conf.py
  poetry.lock
  pyproject.toml
Due: black, sync

fix: tooltip when headerlink copied
  src/sphinxawesome_theme/postprocess.py
Due: black

feat: layout without sidebar and scroll margin
  docs/conf.py
  poetry.lock
  src/sphinxawesome_theme/__init__.py
  src/sphinxawesome_theme/header.html
  src/sphinxawesome_theme/layout.html
  src/sphinxawesome_theme/page.html
  src/sphinxawesome_theme/sidebar.html
  src/sphinxawesome_theme/sidebar_logo.html
  src/sphinxawesome_theme/sidebar_main_nav_links.html
  src/sphinxawesome_theme/sidebar_toc.html
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.9f1cb18438a87222a487.css
  src/sphinxawesome_theme/static/theme.a18b65ea00e6390f5d42.css
  src/sphinxawesome_theme/theme.conf
  src/theme-src/css/code.css
  src/theme-src/css/content.css
  src/theme-src/yarn.lock
Due: black

fix: types
  docs/conf.py
Due: black

djlint is not ready
  noxfile.py
  poetry.lock
  pyproject.toml
Due: black, sync

extract logo as macro
  docs/conf.py
  src/sphinxawesome_theme/header.html
  src/sphinxawesome_theme/layout.html
  src/sphinxawesome_theme/logo.html
  src/sphinxawesome_theme/page.html
  src/sphinxawesome_theme/sidebar.html
  src/sphinxawesome_theme/sidebar_logo.html
Due: black

sidebar configurable
  docs/conf.py
  src/sphinxawesome_theme/layout.html
  src/sphinxawesome_theme/page.html
  src/sphinxawesome_theme/sidebar.html
  src/sphinxawesome_theme/sidebar_main_nav_links.html
  src/sphinxawesome_theme/sidebar_toc.html
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.9f1cb18438a87222a487.css
  src/sphinxawesome_theme/static/theme.a16405b310edf0713aee.css
  src/sphinxawesome_theme/theme.conf
Due: black

no logo macro
  src/sphinxawesome_theme/header.html
  src/sphinxawesome_theme/logo.html
  src/sphinxawesome_theme/sidebar.html
  src/sphinxawesome_theme/sidebar_main_nav_links.html
Due: none

test for deprecated options
  src/sphinxawesome_theme/__init__.py
  src/sphinxawesome_theme/theme.conf
  tests/test_deprecated.py
Due: black

feat: wrote extension to check for deprecated options
  src/sphinxawesome_theme/__init__.py
  src/sphinxawesome_theme/deprecated.py
  src/sphinxawesome_theme/postprocess.py
  src/sphinxawesome_theme/theme.conf
  tests/test_deprecated.py
Due: black
