Repository kai687/sphinxawesome-theme: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, sync

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

isort:
  name: isort
  entry: poetry run isort
  language: system

sync:
  name: sync requirements.txt
  entry: nox -s export
  pass_filenames: false
  language: system

fix: undo MyST parser confusion
  src/sphinxawesome_theme/html_translator.py
Due: black, flake8, isort

chore: yarn update
  src/theme-src/yarn.lock
Due: none

chore: bump version
  CHANGELOG.md
  pyproject.toml
  tests/test_basic.py
Due: black, flake8, isort, sync

fix: layout issue (#1212)
  CHANGELOG.md
  poetry.lock
  pyproject.toml
  requirements.txt
  src/sphinxawesome_theme/html_translator.py
  src/theme-src/yarn.lock
  tests/test_basic.py
Due: black, flake8, isort, sync

feat: add ruff linter
  .flake8
  .pre-commit-config.yaml
  noxfile.py
  poetry.lock
  pyproject.toml
  requirements.txt
  src/sphinxawesome_theme/__init__.py
  src/sphinxawesome_theme/highlighting.py
  src/sphinxawesome_theme/html_translator.py
  src/sphinxawesome_theme/jsonimpl.py
  tests/test_basic.py
Due: black, flake8, isort, sync

fix: mypy
  pyproject.toml
  src/sphinxawesome_theme/__init__.py
  src/sphinxawesome_theme/highlighting.py
  src/sphinxawesome_theme/html_translator.py
Due: black, flake8, isort, sync

feat: add ruff linter (#1213)
  .flake8
  .pre-commit-config.yaml
  noxfile.py
  poetry.lock
  pyproject.toml
  requirements.txt
  src/sphinxawesome_theme/__init__.py
  src/sphinxawesome_theme/highlighting.py
  src/sphinxawesome_theme/html_translator.py
  src/sphinxawesome_theme/jsonimpl.py
  tests/test_basic.py
Due: black, flake8, isort, sync

fix: restore logo in header
  CHANGELOG.md
  pyproject.toml
  src/sphinxawesome_theme/header.html
  src/sphinxawesome_theme/layout.html
  tests/test_basic.py
Due: black, flake8, isort, sync

fix: restore logo in header (#1215)
  CHANGELOG.md
  pyproject.toml
  src/sphinxawesome_theme/header.html
  src/sphinxawesome_theme/layout.html
  tests/test_basic.py
Due: black, flake8, isort, sync

fix: remove isort from dependencies
  poetry.lock
  pyproject.toml
  requirements.txt
Due: sync

fix: remove isort from dependencies (#1216)
  poetry.lock
  pyproject.toml
  requirements.txt
Due: sync

chore: update lock files
  poetry.lock
  requirements.txt
  src/theme-src/yarn.lock
Due: none

chore: update lock files (#1224)
  poetry.lock
  requirements.txt
  src/theme-src/yarn.lock
Due: none

fix: update
  .pre-commit-config.yaml
  poetry.lock
  src/sphinxawesome_theme/static/docsearch.53303c497cdefb581f6f.js
  src/sphinxawesome_theme/static/docsearch.53303c497cdefb581f6f.js.LICENSE.txt
  src/sphinxawesome_theme/static/docsearch.e95232a0fe67eecc8db0.js
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.2e8060a090e1247124e3.css
  src/sphinxawesome_theme/static/theme.39dcd091ff2d4f33bf46.css
  src/theme-src/yarn.lock
Due: none

fix: link
  docs/about.md
Due: none

fix: update (#1249)
  .pre-commit-config.yaml
  docs/about.md
  poetry.lock
  src/sphinxawesome_theme/static/docsearch.53303c497cdefb581f6f.js
  src/sphinxawesome_theme/static/docsearch.53303c497cdefb581f6f.js.LICENSE.txt
  src/sphinxawesome_theme/static/docsearch.e95232a0fe67eecc8db0.js
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.2e8060a090e1247124e3.css
  src/sphinxawesome_theme/static/theme.39dcd091ff2d4f33bf46.css
  src/theme-src/yarn.lock
Due: none

update packages
  poetry.lock
  requirements.txt
  src/theme-src/package.json
  src/theme-src/yarn.lock
Due: none

fix: canonical links
  src/sphinxawesome_theme/layout.html
Due: none

fix: canonical links (#1258)
  poetry.lock
  requirements.txt
  src/sphinxawesome_theme/layout.html
  src/theme-src/package.json
  src/theme-src/yarn.lock
Due: none

correct canonical links
  src/sphinxawesome_theme/jinja_functions.py
  src/sphinxawesome_theme/layout.html
Due: black, flake8, isort

update packages
  constraints.txt
  requirements.txt
  src/theme-src/yarn.lock
Due: none

add test for canonical
  src/sphinxawesome_theme/jinja_functions.py
  tests/test_canonical.py
Due: black, flake8, isort

version bump
  CHANGELOG.md
  pyproject.toml
  tests/test_basic.py
Due: black, flake8, isort, sync

fix: canonical links (#1262)
  CHANGELOG.md
  constraints.txt
  pyproject.toml
  requirements.txt
  src/sphinxawesome_theme/jinja_functions.py
  src/sphinxawesome_theme/layout.html
  src/theme-src/yarn.lock
  tests/test_basic.py
  tests/test_canonical.py
Due: black, flake8, isort, sync

docs: link docsearch
  docs/how-to/options.md
  docs/how-to/options.rst
  docs/how-to/using.md
Due: none

docs: vale
  docs/how-to/options.rst
Due: none

docs: link docsearch (#1263)
  docs/how-to/options.md
  docs/how-to/options.rst
  docs/how-to/using.md
Due: none

docs: remove quotes and add link
  docs/how-to/options.rst
Due: none

chore: update npm packages
  src/theme-src/package.json
  src/theme-src/yarn.lock
Due: none

feat(docsearch): add more docsearch options
  docs/conf.py
  src/sphinxawesome_theme/docsearch.py
  src/sphinxawesome_theme/static/docsearch_config.js_t
  src/theme-src/js/docsearch_config.js_t
Due: black, flake8, isort

docs: docsearch config section
  docs/conf.py
  docs/how-to/options.rst
Due: black, flake8, isort

docs: how to not how-to
  docs/index.md
Due: none

chore: changelog
  CHANGELOG.md
Due: none

fix: typo
  docs/how-to/options.rst
Due: none

feat: docsearch improvements (#1264)
  CHANGELOG.md
  docs/conf.py
  docs/how-to/options.rst
  docs/index.md
  src/sphinxawesome_theme/docsearch.py
  src/sphinxawesome_theme/static/docsearch_config.js_t
  src/theme-src/js/docsearch_config.js_t
  src/theme-src/package.json
  src/theme-src/yarn.lock
Due: black, flake8, isort

fix: links should be links
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.2e8060a090e1247124e3.css
  src/sphinxawesome_theme/static/theme.cb928fdeaeb6d108b35e.css
  src/theme-src/css/nav.css
Due: none

feat: better docsearch style
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.a9cb73d0733352004a42.css
  src/sphinxawesome_theme/static/theme.cb928fdeaeb6d108b35e.css
  src/theme-src/css/docsearch.css
Due: none

fix: styles (#1265)
  CHANGELOG.md
  src/sphinxawesome_theme/static/manifest.json
  src/sphinxawesome_theme/static/theme.2e8060a090e1247124e3.css
  src/sphinxawesome_theme/static/theme.a9cb73d0733352004a42.css
  src/theme-src/css/docsearch.css
  src/theme-src/css/nav.css
Due: none

feat: allow extra tags in layout
  src/sphinxawesome_theme/layout.html
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  sync: any of: pyproject\.toml
